<%#= select_tag "#{@formType}[#{@fieldName}][]", options_for_select(@subjects) , :prompt=>"Select #{@label}" %>

<div class="fields">
	<div id="newTopicSection">
	    <br/>	
		<%= select_tag "#{@formType}[#{@fieldName}_attributes][#{@fieldId}][id]", options_for_select(@subjects) , :prompt=>"Select #{@label}" %>
	    <br/>
	    <%= link_to_delete_fields "Remove #{@label}"%>
	</div>
</div>