<%
	objectTitle = render_document_show_field_value(:document=>@document, :field=>'title_tesim')
	component_count = @document['component_count_isi']
	@firstButton = "first-component active-component"
%>

<% if component_count > 0   %>

	<% initComponentTree component_count %>
	<button type="button" id="sidebar-header" class="btn btn-block btn-link dams-components-button sidebar-header tree-collapsed">
		<strong><%= objectTitle %> Components</strong>
	</button>
	<div class="components-tree">
		<% displayComponentTree component_count %>
	</div>

<% end %>