 <!-- Slideshow 3 -->
  <div id="wrapper">
    <div class="rslides_container">
      <ul class="rslides" id="slider3">
        <li> <%= image_tag "http://localhost:3000/view/bb90909090/_3.jpg" %></li>
        <li> <%= image_tag "http://localhost:3000/view/bb53535353/_3.jpg" %></li>
        <li><%= image_tag "http://placedog.com/g/460/500?c" %></li>
      </ul>
    </div>
  </div>