<div class="alert alert-info">
  <h4>No File</h4>
	<% if objectType == 'simple' %>
	  There is no file associated with this object.
	<% elsif objectType == 'complex' %>
		There is no file associated with this component.
	<% else %>
		There is no file associated with this object or component.
	<% end %>
</div>