<!-- convert to video viewer -->

function getVideoObject(arkID, filename,cachedJson)
{
	//bb7953483d,bb3550355p,bb96939717 collections will be 320x240
	getmediaelementplayer();	    
    var subject = arkID.substring(6);
    
    // some videos on dev is not working, so use libraries instead.
	// var videoUrl = "https://libraries.ucsd.edu"+PAS_UTILITY.getPasAccessUrl(subject, filename);
    var videoUrl = PAS_UTILITY.getPasAccessUrl(subject, filename);
	var medium_image_url = PAS_UTILITY.getPasAccessUrl(subject, '1-3a.jpg'); 		

    html ='';
	html = '<div id="video" align="center">';
//	html +='<video width="320" height="240" preload"auto" poster="'+medium_image_url+'" controls><source src="'+videoUrl+'" type="video/mp4" />Your browser does not support the video tag.</video>';
	html +='<video  width="320" height="240" preload"auto" poster="'+medium_image_url+'" controls><source src="'+videoUrl+'" type="video/mp4" />Your browser does not support the video tag.</video>';
	html += '</div>';
	document.getElementById('DOV-digitalObj').innerHTML = html;
	getmediaelementplayer();
}