<!-- convert js to erb -->

function getAudioObject(arkID, filename)
{
    var subject = arkID.substring(6);
	var thumbnailName = getIcon(itemJson, 1-2.jpg);
 	var thumbnailUrl = PAS_UTILITY.getPasAccessUrl(subject, thumbnailName);
	
	<div id="audioDisplayObject" style="background:#DEDFDE; margin:10px;">
	 <div style="height: 160px;"></div>;
	var mp3Url = location.protocol + "//" + location.host + PAS_UTILITY.getPasAccessUrl(subject, filename);
	<img style="cursor:pointer" src="+ thumbnailUrl +" onclick="openImageWindow(\ + mp3Url + \)">
	 <div style="height: 160px;"></div>
	 <div id="mp3Player" align="center">
	 <audio controls="control" preload="none" src="+mp3Url+" type="audio/mp3"></audio>		
	
	
	 </div>
	 </div>
	
	getmediaelementplayer();
}