

 <% if @document['id_t'] != nil %>
          <p>ID: <%= render_document_show_field_value(:document=>@document, :field=>"id_t") %></p>
        <% end %>

        


        <% if @document['component_1_file_4.jpg_formatName_tesim'] != nil %>
          <p>ID: <%= render_document_show_field_value(:document=>@document, :field=>"component_1_file_4.jpg_formatName_tesim") %></p>
        <% end %>