<% ark=render_document_show_field_value(:document=>@document, :field=>"id_t") %>

<div class="row-fluid">
	<div class="span12">
		<%= image_tag "http://pontos.ucsd.edu/view/"+ark+"/_3.jpg" %>
		<%#= image_tag "http://localhost:3000/view/bb90909090/_3.jpg" %>
	</div>
</div>