<%

#---
# METHODS
#---

	def componentTitle(index)
		concat render_document_show_field_value(:document=>@document, :field=>"component_#{index}_1_title_tesim")
	end

	def grabFirstFile(index)
		fileArray = []
		files = @document["component_#{index}_files_tesim"]
		if files != nil
			files.each do |sub|
				fileArray.push(sub)
			end
		end
		return fileArray[0]
	end

	def displayNodes(index)

		concat "<li>".html_safe

		case
			
			#BACHELOR or CHILD
			when (@isParent[index] == false && @isChild[index] == false) || (@isParent[index] == false && @isChild[index] == true)

				url = grabFirstFile index

				if url != nil
					case File.extname(url)
						when ".jpg"
							icon = "icon-picture"
						when ".png"
							icon = "icon-picture"
						when ".mp3"
							icon = "icon-music"
						when ".avi"
							icon = "icon-film"
						else
							icon ="icon-file"
					end
				end
				
				concat "<button type='button' class='btn btn-block btn-small btn-link dams-file#{@firstButton}' onClick='showComponent(this,#{index});'><i class='#{icon}'></i> ".html_safe
				componentTitle index
				concat "</button>".html_safe

			#PARENT or WILD CHILD
			when (@isParent[index] == true && @isChild[index] == false) || (@isParent[index] == true && @isChild[index] == true)

				concat "<button type='button' class='btn btn-block btn-small btn-link' data-toggle='collapse' data-target='#meta-component-#{index}'><i class='icon-chevron-right'></i> ".html_safe
				componentTitle index
				concat "</button>".html_safe
				concat "<ul id='meta-component-#{index}' class='unstyled collapse'>".html_safe
				@document["component_#{index}_children_isim"].each do |sub|
					displayNodes sub
					@tempSeen.push(sub)
				end
				concat "</ul>".html_safe

		end
		
		concat "</li>".html_safe

		@firstButton = nil

	end

#---
# MAIN
#---
	objectTitle = render_document_show_field_value(:document=>@document, :field=>'title_tesim')
  component_count = @document['component_count_isi']
	@firstButton = " first-component active-component"


	if component_count > 0

    @isParent = []
    @isChild = []
    @tempSeen = [] # quick hack

    for i in 1..component_count
      @isParent[i] = false
      @isChild[i] = false
    end

    for i in 1..component_count
      if @document["component_#{i}_children_isim"] != nil
        @isParent[i] = true
        @document["component_#{i}_children_isim"].each do |j|
          @isChild[j] = true
        end
      end
    end

  end

%>


<% if component_count > 0   %>

  <button type="button" class="btn btn-block btn-link dams-components-button sidebar-header" onClick="$('[id^=meta-]').collapse('toggle');">
		<strong><%= @firstIndex %> Components</strong>
	</button>
  <div class="components-tree">
    <ul class="unstyled">
      <%
        for i in 1..component_count

          if @tempSeen.count(i) == 0
            displayNodes i
          end

        end
      %>
    </ul>
  </div>

<% end %>
