<% if defined?(componentIndex) %>

	<% if @document["component_#{componentIndex}_1_title_tesim"] != nil %>
			<h2 class="text-error"><%= render_document_show_field_value(:document=>@document, :field=>"component_#{componentIndex}_1_title_tesim") %></h2>
	<% end %>

<% end %>