<% if defined?(filePath) %>

	<div class="well dams-download-button">
		<a class="btn btn-large btn-block btn-danger" href="<%= filePath %>" target="_blank">
			<i class="icon-download-alt icon-white"></i>
			Download PDF
		</a>
	</div>

<% end %>