 <% ark=render_document_show_field_value(:document=>@document, :field=>"id_t") %>

<a href="<%= "http://pontos.ucsd.edu/view/"+ark+"/_1.pdf" %>" target="_new"><%= image_tag ("http://pontos.ucsd.edu/view/"+ark+"/_3.jpg", :size=> 400x500) %> </a>