<p>Export to:

 <%= link_to 'Zotero', zotero_path, {:id => 'zoteroLink', :name => 'zotero', :class => 'lightboxLink'} %>
      &nbsp;|&nbsp;
<%= link_to 'Mendeley' %>


 <!-- COinS hook for Zotero -->
    <span class="Z3988" title="<%= export_as_openurl %>"></span>