<p>Export to:

<%= link_to 'Zotero', zotero_path, {:id => 'zoteroLink', :name => 'zotero', :class => 'btn'} %>
      &nbsp;
<%= link_to 'Mendeley', mendeley_path, {:id => 'mendeleyLink', :name => 'mendeley', :class => 'btn'} %>


 <!-- COinS hook for openurl -->
    <span class="Z3988" title="<%= export_as_openurl %>"></span>
