 <% ark=render_document_show_field_value(:document=>@document, :field=>"id_t") %>


 <p>I'm video </p>
 <video id="dams_video" class="video-js vjs-default-skin" controls
  preload="auto"  poster="http://pontos.ucsd.edu/view/bb54545454/_3.jpg" data-setup="{}">
  <source src="http://pontos.ucsd.edu/view/bb54545454/_2.mp4" type='video/mp4'>
  </video>

