
<div class="row-fluid">

  <div id="content" class="span9 show-document">
  <%# render 'previous_next_doc' %>

  <%# @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name) -%>
  <%# extra_head_content << render_link_rel_alternates %>
  <%# sidebar_items << render_document_sidebar_partial %>


 <%= render :partial => 'file_navigation' %>
 
 <%= render :partial => 'metadata_viewer' %>

 </div>
 <div class="span3">
	<p>SIDEBAR GOES HERE</p>
 </div>
</div>

