<h1>About</h1>
<div>
<p>
The UC San Diego Library Digital Collections website provides easy one stop searching to our digital collections from the Arts Library, Mandeville Special Collections and the Scripps Institution of Oceanography. The Digital Collections only represent a fraction of the materials available in the UC San Diego Library. Access to more content will increase overtime as we digitize more of our collections.
</p>
</div>