<h1>About UCSD Libraries Digital Collections</h1>
<div>
<p>
The UCSD Libraries Digital Collections Website provides easy one stop searching to our digital collections from the Arts Library, Mandeville Special Collections and the Scripps Institution of Oceanography. The digital collections only represent a fraction of the materials available in the UCSD Libraries. Access to more content will increase overtime as we digitize more of our collections.
</p>
</div>