<h1>Frequently Asked Questions (FAQ)</h1>
<div>
<ul>
<li><a href="#1">What are the Digital Collections?</a></li>
<li><a href="#2">Who can use the Digital Collections?</a></li>
<li><a href="#3">How do I report a problem when using the Digital Collections?</a></li>
<li><a href="#4">Are all items in the UC San Diego Library digitized?<a></li>
<li><a href="#5">How do you select content for the Digital Collections?</a></li>
<li><a href="#6">What is the technical architecture of the Digital Collections?</a></li>
<li><a href="#7">What is the best way to search the Digital Collections?</a></li>
<li><a href="#8">I see the item I'm interested in online, but for my research I need to see the physical object. How can I find out more about it?</a></li>
<li><a href="#9">I'm conducting research. Can you help me find more information about a particular topic?</a></li>
<li><a href="#10">How do I cite an item?</a></li>
<li><a href="#11">Are items in the Digital Collections fair use? And, may I use them in a publication or on a web site?</a></li>
<li><a href="#12">How do I report a correction or provide additional information about an item in the Digital Collections?</a></li>
</ul>

<hr>

<h4 id="1">What are the Digital Collections?</h4>

<p>The UC San Diego Library’s Digital Collections contain more than 50,000 items that are made available to support scholarship, teaching and learning. Our Digital Collections include documents, photographs, audio, video, and data sets that are unique to the UC San Diego Library. Some of the digital collections you can browse here include the Baja California Collection, Dr. Seuss Collection, the Missions of Alta California, the Spanish Civil War Collection, the Tuzin Archive for Melanesian Anthropology, and collections relating to UC San Diego History. The Digital Collections also contain research data gathered by campus researchers as part of a campus-wide initiative, <a href="http://rci.ucsd.edu/" class="external-link" rel="nofollow">The Research Cyberinfrastructure Program</a>. 
<p>You can find a complete list of the unique collections contained in our Digital Collections at: <%= link_to 'Browse by Collection', dams_collections_path %>.
<hr>

<h4 id="2">Who can use the Digital Collections?</h4>

<p>The Digital Collections are publicly available and searchable to anyone for educational and research use. Content is best viewed using an updated browser. 
<p>Some items in the Digital Collections may have copyright restrictions or licensing agreements attached to their use. When known, information on permissions is noted along with the item under “Copyright”. If you have any questions about the copyright restrictions of an item, please use the <strong>Contact</strong> link found under <strong>Help</strong> at the top of every page.
<p>The U.S. Copyright Office provides additional information on understanding copyright, including “Copyright Basics” at <a href="https://illiad.ucsd.edu:8443/www.copyright.gov" rel="nofollow">www.copyright.gov</a>.
<hr>

<h4 id="3">How do I report a problem when using the Digital Collections?</h4>

<p>For specific questions or further assistance, please use the <strong>Contact</strong> link found under <strong>Help</strong> at the top of every page.
<hr>

<h4 id="4">Are all items in the UC San Diego Library digitized?</h4>

<p>Only a small fraction of the UC San Diego Library’s unique collections have been digitized. The Library determines which items to digitize based on a number of considerations, including the need to support teaching and research, availability of funding and resources for digitization, copyright restrictions that may prevent an item from being distributed online, and the scholarly significance of items. To learn more about a particular item in the Digital Collections or request to see an item in its original form, please email us using the <strong>Contact</strong> link found under <strong>Help</strong> at the top of every page.
<p>In addition to the Digital Collections, the Library has a myriad of ebook and ejournal collections that are available at <a href="http://libraries.ucsd.edu/" class="external-link" rel="nofollow">libraries.ucsd.edu</a>.
<hr>

<h4 id="5">How do you select content for the Digital Collections?</h4>

<p>Content reflects a range of materials collected, managed and preserved by the UC San Diego Library that has significant value to teaching, learning and research. Content is selected for the Digital Collections based on a number of considerations, including support for current or emerging research or instruction, preservation, copyright status, historical or cultural value, and availability of funding and resources.
<hr>

<h4 id="6">What is the technical architecture of the Digital Collections?</h4>

<p>The UC San Diego Library Digital Asset Management System (DAMS) is a locally developed digital repository, designed to store and manage the digital assets of the UC San Diego Library. Components include: Resource Descriptive Framework (RDF) data model, Solr (an indexing service based on Lucene), JSON (Java Script Object Notation data exchange format), Samba and OpenStack file services, ARKs (Archival Resource Keys, unique identifiers), a Java-based development platform, and a Ruby on Rails based display and discovery system using Hydra and Blacklight. For more information, visit <a href="http://libraries.ucsd.edu/about/digital-library/" class="external-link" rel="nofollow">http://libraries.ucsd.edu/about/digital-library/</a>
<hr>

<h4 id="7">What is the best way to search the Digital Collections?</h4>

<p>There are many ways to search for content in Digital Collections. You can use the search box to search across all of the collections. You can also browse by collection and search within a specific collection. Or, browse content by topic or format. You can also limit your search further according to format, topic, or collection on the search results page. For additional information on searching, see <%= link_to 'Search Tips', search_tips_path %>.
<hr>

<h4 id="8">I see the item I'm interested in online, but for my research I need to see the physical object. How can I find out more about it?</h4>

<p>To learn more about a particular item in the Digital Collections or see an item in its original form, please email us using the <strong>Contact</strong> link found under <strong>Help</strong> at the top of every page.
<hr>

<h4 id="9">I'm conducting research. Can you help me find more information about a particular topic?</h4>

<p>Yes, if you need help finding information on a particular topic (including primary sources), or have questions about your research in general, please contact our <a href="http://libraries.ucsd.edu/help/ask-a-librarian/" class="external-link" rel="nofollow">Ask a Librarian</a> service to email, call or instant message with a UC Librarian. 
<hr>

<h4 id="10">How do I cite an item?</h4>

<p>This may vary depending on the type of resource and citation format. However, there is standard information to include in the citation, regardless of format which can be found with each item. These include: creator, title, date, collection name, the institution (in most cases UC San Diego Library), and the item’s URL.
<hr>

<h4 id="11">Are items in the Digital Collections fair use? May I use them in a publication or on a website?</h4>

<p>Items in the Digital Collections are available from the UCSD Library and are intended to support research, teaching and private study under fair use. All items may be protected by the U.S. Copyright Law (Title 17, U.S.C.). Usage of some items may also be subject to additional restrictions imposed by the original copyright owner and/or institution. The copyright for a particular item is displayed under “Copyright”. To request permission to publish or obtain a reproduction of a particular item, use the <strong>Contact</strong> link found under <strong>Help</strong> at the top of every page. 
<p>If you are the copyright holder and believe our website has not properly attributed your work to you or has used it without the requisite permission, please let us know. Refer to the <%= link_to 'Notice and Takedown Policy', takedown_path%> for further details.
<p>The U.S. Copyright Office provides additional information on understanding copyright, including “Copyright Basics” at <a href="http://www.copyright.gov" rel="nofollow">www.copyright.gov</a>.
<hr>

<h4 id="12">How do I report a correction or provide additional information about an item in the Digital Collections?</h4>

<p>We appreciate the help in updating or correction information about our digital resources. To report a correction or provide additional information, please use the <strong>Contact</strong> link found under <strong>Help</strong> at the top of every page. Our staff will respond to questions or comments in a timely manner. You can also provide a comment with the item at the bottom of the item page.
</div>