<h1>FAQ</h1>
<div>
<ul>
<li><a href="#faq1">How did you select the content in the Digital Collections website?</a></li>
<li><a href="#faq2">Where is the Digital Collections website?</a></li>
<li><a href="#faq3">Who can use the Digital Collections website?</a></li>
<li><a href="#faq4">What can I do once in the Digital Collections website?</a></li>
<li><a href="#faq5">What is available in the Digital Collections website?</a></li>
<li><a href="#faq6">How do I report problems?</a></li>
<li><a href="#faq7">The items I'm interested in aren't available online. Why aren't all the items digitized?</a></li>
<li><a href="#faq8">I see the item I'm interested in online, but for my research I need to see the physical object. How can I find out more about it?</a></li>
<li><a href="#faq9">I'm conducting research. Can you help me find more information about a particular topic?</a></li>
<li><a href="#faq10">How do I report a mistake in the Digital Collections website?</a></li>
<li><a href="#faq11">Copyright Attribution</a></li>
<li><a href="#faq12">What am I permitted to do with the digitized items find on the Digital Collections website? May I use the digitized items in a publication or on a web site?</a></li>
<li><a href="#faq13">What is the technical architecture of the Digital Collections website?</a></li>
<li><a href="#faq14">What is the Digital Object URL and metadata link displayed in the descriptive metadata?</a></li>
<li><a href="#faq15">Can I narrow my search results more than once?</a></li>
<li><a href="#searchTips">Searching Tips</a></li>
</ul>
<hr>
<br>

<h4 id="faq1">How did you select the content in the Digital Collections website?</h4>
<br>
The Digital Collections website is a gateway to the digital collections created and acquired by the UC San Diego Library and designed to support the needs of our undergraduate and graduate students and the public. More than 16,000 digitized items - including photographs, documents and moving images - can be found here. They reflect a range of materials collected, managed and preserved by the UC San Diego Library to support teaching, learning and research. Content has been drawn from the collections of the Arts Library, Mandeville Special Collections Library and the Scripps Institution of Oceanography Library with strengths in the topical areas of Baja California, Melanesia, oceanography, Spanish Civil War, and UCSD campus history.
<br> <br> <hr> <br>

<h4 id="faq2">Where is the Digital Collections website?</h4>
<br>
It can be found at <a href="http://libraries.ucsd.edu/digital">http://libraries.ucsd.edu/digital</a>.
<br> <br> <hr> <br>

<h4 id="faq3">Who can use the Digital Collections website?</h4>
<br>
The UCSD community (faculty, staff and students) has access to the entire digitized collection and the public has access to all digitized collections that can be made freely accessible with respect to copyright restrictions, fair use and licensing agreements. If you have any questions about your access level, or the copyright status of collection, please use the Feedback link found at the bottom of every page.
<br> <br> <hr> <br>

<h4 id="faq4">What can I do once in the Digital Collections website?</h4>
<br>
You can search across several collections or within a single collection, narrowing your search in a variety of ways. Or simply browse the collections by topic, format, collection or library. You can download or print single items.
<br> <br> <hr> <br>

<h4 id="faq5">What is available in the Digital Collections website?</h4>
<br>
Currently, we feature over 16,000 digitized photographs, documents and moving images, drawn from the collections of the UC San Diego Library Art Library, Mandeville Special Collections and the Scripps Institution of Oceanography Library.
<br> <br> <hr> <br>

<h4 id="faq6">How do I report problems?</h4>
<br>
For immediate help please use the "Feedback" link found at the bottom of every page.
<br> <br> <hr> <br>

<h4 id="faq7">The items I'm interested in aren't available online. Why aren't all the items digitized?</h4>
<br>
Not all of the contents in all of the UC San Diego Library collections have been digitized. The Libraries decide what items to digitize and make available online based on a number of considerations (including the need to support teaching and research, available funding and resources for digitization, copyright restrictions that may prevent the item from being distributed online, and the scholarly significance of the item). To learn more about a particular item, or to learn how you can see it in its original form, or to find out if particular item can be digitized and made available online, please email us using the "Feedback" link found at the bottom of every page.
<br> <br> <hr> <br>

<h4 id="faq8">I see the item I'm interested in online, but for my research I need to see the physical object. How can I find out more about it?</h4>
<br>
To learn more about a particular item, or to learn how you can see it in its original form, or to find out if particular item can be digitized and made available online, please email us using the "Feedback" link found at the bottom of every page
<br> <br> <hr> <br>

<h4 id="faq9">I'm conducting research. Can you help me find more information about a particular topic?</h4>
<br>
If you have any questions about your research, or need help finding information on a particular topic (including help on primary sources), please call, email, to chat us using the Ask a Librarian service at <a href="http://libraries.ucsd.edu/help/ask-a-librarian/index.html">http://libraries.ucsd.edu/help/ask-a-librarian/index.html</a>.
<br> <br> <hr> <br>

<h4 id="faq10">How do I report a mistake in the Digital Collections website?</h4>
<br>
To report mistakes or errors you see on the Digital Collections website, please use the "Send Us Your Feedback" link found at the bottom of every page.
<br> <br> <hr> <br>

<h4 id="faq11">Copyright Attribution</h4>
<br>
If you are the copyright holder and believe our website has not properly attributed your work to you or has used it without the requisite permission, please let us know. Please use the "Feedback" link found at the bottom of every page with your contact information and identify the content at issue, including a link to the relevant content if possible.
<br> <br> <hr> <br>

<h4 id="faq12">What am I permitted to do with the digitized items find on the Digital Collections website? May I use the digitized items in a publication or on a web site?</h4>
<br>
These collections are available from the UC San Diego Library and the digital copies of the work are intended to support research, teaching and private study. All items may be protected by the U.S. Copyright Law (Title 17, U.S.C.). Usage of some items may also be subject to additional restrictions imposed by the copyright owner and/or the institution. Use the "Send Us Your Feedback" link to be directed to the originating UCSD Library to request permission to publish or obtain a reproduction of a particular digitized item.
<br><br>If you are the copyright holder and believe our website has not properly attributed your work to you or has used it without the requisite permission, please let us know. Please use the "Feedback" link found at the bottom of every page with your contact information and identify the content at issue, including a link to the relevant content if possible.


<br> <br> <hr> <br>

<h4 id="faq13">What is the technical architecture of the Digital Collections website?</h4>
<br>
The Digital Collections website is an expression of the UC San Diego Library XDRE (eXtensible Digital Resource Environment) framework which is built on the following components: RDF (Resource Descriptive Framework), Solr (search server based on Lucene), JSON (Java Script Object Notation data exchange format), SRB (storage resource broker), ARK (Archival Resource Key) and a Java based development platform. For the Digital Collections website XDRE produces XML as a web service and uses XSLT, CSS and AJAX to produce the HTML output displayed in the browser.
<br> <br> <hr> <br>

<h4 id="faq14">What is the Digital Object URL and metadata link displayed in the descriptive metadata?</h4>
<br>
The Digital Object URL and metadata view provides the user with a citable persistent universal resource locator (URL); the technical information about how the digitized item was scanned; and additional descriptive metadata associated with the item that is indexed and searched including alternative titles, abstracts and translations where appropriate.
<br> <br> <hr> <br>

<h4 id="searchTips">Searching Tips</h4>
<br>
<b>The Search (keyword) option is available from the home page and every results page.</b>

<br><br><p>About Search:
<ul>
<li>For an exact phrase search, enter words and/or phrases surrounded by quotes (").
  <ul>
    <li>The default search will look for these words and phrases in titles, names, dates, topics and identifiers.</li>
  </ul>
</li>
<li>To exclude a word or phrase, put a minus sign (-) before it.</li>
<li>Keyword search does not support Boolean operators (AND, OR, NOT). However, entering a multiple keyword search will work like Boolean AND. Results will be returned only when ALL of the keywords appear.</li>
<li>Searching is not case sensitive. For example, searching for 'dancers solomon islands' or 'DANCERS SOLOMON ISLANDS' will yield the same results.</li>
<li>Very common words (a, and, the, do, of, etc.) are ignored.</li>
<li>Results are sorted by relevance and the scoring of a result depends on a number of factors:
  <ul>
    <li>The more times a search term appears the higher the score. Also matches on rarer terms count more than matches on common terms.</li>
    <li>If there are multiple terms in a query, the more terms that match, the higher the score.</li>
  </ul>
</li>
</ul>

<b>The Advanced Search option is available from the home page and every results page.</b>

<br><br><p>About Advanced Search:
<ul>
<li>User can determine which Boolean operator to apply in search:
  <ul>
    <li>Find all words (AND)</li>
    <li>Find any word (OR)</li>
    <li>Without these words (NOT)</li>
  </ul>
</li>
<li>Supports limiting search to specific fields: title, name/creator or topic or expanding search to keyword (title, name/creator, topic and notes).</li>
<li>Supports searching full text (when available).</li>
<li>Supports searching all collections or narrowing to a specific collection or multiple collections using check-boxes.</li>
</ul>
<br> <br> <hr> <br>

<h4 id="faq15">Can I narrow my search results more than once?</h4>
<br>
Yes. As you can see below, on your search results page, the plus symbol in the Narrow Your Results box allows you to see all possible terms by which you can narrow a search. For example, if you click on the plus symbol next to Topic you will see topics assigned to the items in your search results. To narrow the result set, choose the topics of interest by clicking the box next to each topic and then complete your selection by clicking on the blue Find button at the bottom of the box. Note that you can see all of the topics associated with your result set by clicking on the highlighted Choose more....
You may at any time select additional terms or deselect terms for your results, but always complete your selection by clicking on the blue Find button at the bottom of the box.
<br> <br> <img src="images/search_results_screenshot.jpg"/>

</div>

