<h1>Search Tips</h1>
<div>
	<p>Searching by keyword is available through the search box at the top right area of every page.
	<p>About Search:
	<ul>
		<li>For an exact phrase search, enter words and/or phrases surrounded by quotes (").  The default search will look for these words and phrases in titles, names, dates, topics and identifiers.</li>
		<li>To exclude a word or phrase, put a minus sign (-) before it.</li>
		<li>Keyword search does not support Boolean operators (AND, OR, NOT). However, entering a multiple keyword search will work like Boolean AND. Results will be returned only when ALL of the keywords appear.</li>
		<li>Searching is not case sensitive. For example, searching for 'dancers solomon islands' or 'DANCERS SOLOMON ISLANDS' will yield the same results.</li>
		<li>Very common words (a, and, the, do, of, etc.) are ignored.</li>
		<li>Results are sorted by relevance and the scoring of a result depends on a number of factors:
			<ul>
				<li>The more times a search term appears the higher the score. Also matches on rarer terms count more than matches on common terms.</li>
				<li>If there are multiple terms in a query, the more terms that match, the higher the score.</li>
			</ul>
		</li>
	</ul>
	<br>
	<p>The Advanced Search option is available from every search results page.
	<p>About Advanced Search:
	<ul>
		<li>User can determine which Boolean operator to apply in search:
			<ul>
				<li>Find all words (AND)</li>
				<li>Find any word (OR)</li>
				<li>Without these words (NOT)</li>
			</ul>
		</li>
		<li>Supports limiting search to specific fields: title, name/creator or topic or expanding search to keyword (title, name/creator, topic and notes).</li>
		<li>Supports searching full text (when available).</li>
		<li>Supports searching all collections or narrowing to a specific collection or multiple collections using check-boxes.</li>
</div>
	