<h1>Search Tips</h1>
<div>
	<p>Search by keyword or phrase using the search box at the top right area of every page.
	<ul>
		<li>For an exact phrase search, enter words and/or phrases in quotes, e.g. "aerial view".</li>
		<li>Use "+" before a term to make it required, otherwise results matching only some of your terms may be included.</li>
		<li>To exclude a word or phrase, put a minus sign (-) before it.</li>
		<li>Use "OR", "AND", and "NOT" to create complex boolean logic, e.g. camp NOT matthews.</li>
		<li>Use parentheses in complex expressions.</li>
		<li>Searching is not case sensitive. For example, searching for "dancers solomon islands" or "DANCERS SOLOMON ISLANDS" will yield the same results.</li>
		<li>Very common words (a, and, the, do, of, etc.) are ignored in a search.</li>
	</ul>
	<br>
	<p>The Advanced Search option is available on the search results page.  Advanced Search allows you to search within specific fields such as title or name/creator, or limit the search to a specific collection or format type.
	<ul>
		<li>Supports limiting search to specific fields: title, name/creator, and notes.</li>
		<li>Supports searching full text (when available).</li>
		<li>Supports searching all collections or narrowing to a specific collection or multiple collections using check-boxes.</li>
	</ul>
	<p>Other Tips
		<ul>
			<li>Use the <strong>Limit your Search</strong> box on the left column of the search results page to narrow your search results by topic, collection, or format.</li>
			<li>Use the <strong>Sort by</strong> dropdown menu to change the order in which the search results display.</li>
			<li>If you are not sure what you are looking for, use the <strong>Browse by</strong> tab at the top of the page to browse by topic, collection, or format.</li>
			<li>For additional information, see <%= link_to 'Frequently Asked Questions', faq_path %></li>
		</ul>
</div>
	