<h1>Notice and Takedown Policy</h1>
<div>
	<p>Notice to users: The UC San Diego Library makes every effort to ensure that it has appropriate rights to provide access to content through the Digital Collections Website. These materials are made available for educational and scholarly use.
		<hr>
	<p>If you are a rights holder and are concerned that you have found material on the UC San Diego Library’s Digital Collections Website without your permission and believe our inclusion of this material on the Digital Collections Website violates your rights (e.g. inclusion is not covered by the Fair Use or other exemption to a copyright holder’s rights), please contact [dlp@ucsd.edu] and include the following:
		<ul>
			<li>Your contact information (including email address and phone),</li>
			<li>Exact URL where you found the material,</li>
			<li>Details that describe the material (title, collection name, number of items, etc.),</li>
			<li>The reason why you believe that your rights have been violated, with any pertinent documentation,</li>
			<li>A statement that you in good faith believe that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law, and</li>
			<li>A statement that the information in your notification  is accurate and that you are the rights holder or are authorized to act on behalf of the owner.</li>
		</ul>
		<p>Upon receipt of a request, UC San Diego Library staff will:
			<ul>
				<li>Promptly acknowledge the request via email or other means of communication if you do not have an email account;</li>
				<li>Assess the validity of the request;</li>
				<li>Upon request, we may temporarily remove the material from public view while we assess the concern.</li>
			</ul>
			<p>Upon completion of the assessment, we will take appropriate action and communicate that action to you.
			</div>