<% @page_title = "Advanced Search" %>


<div class="row-fluid">
  <div class="span9 well dams-form">

    <script type="text/javascript">
      $(document).ready(function(){$("form.advanced input:first").focus();});
    </script>

    <%= render 'advanced_search_form' %>

  </div>
</div>
















