<%
	if defined?(componentIndex) # Then we're working with a component
		prefix = "component_#{componentIndex}_"
		htmlOpen = "<tr><td>%s</td><td>"
		htmlClose = "</td></tr>"
	else # We're working with an object or collection
		prefix = ''
		htmlOpen = "<dt>%s</dt><dd>"
		htmlClose = "</dd>"
	end

	fieldData = @document["#{prefix}cartographics_json_tesim"]
	validOverlays = Set.new ['point','line','polygon','projection']

	if fieldData != nil
		cartographics = JSON.parse(fieldData.first)

  		if (!cartographics.first[1][0].nil? && cartographics.first[1][0].length > 0)
			htmlOpen %= 'Cartographics'
			concat htmlOpen.html_safe
				
			cartographics.each do |key,value|
	
				if validOverlays.include? key
					if value.any?
						dataForMap = "{\"type\":\"#{key}\",\"coords\":\"#{value.first}\"}"
						concat "<p><strong>#{key.upcase}</strong></p><p>#{value.first}</p>".html_safe
						concat "<div id='map-canvas' data='#{dataForMap}'/>".html_safe
					end
				end
			end
		end
		concat htmlClose.html_safe

	end
%>
