<% if @document["collection_1_id_tesim"] != nil %>
	<% if @document["collections_tesim"] != nil %>
		<dt><%="Collection".pluralize(@document["collections_tesim"].count)%></dt>
	<% else %>
		<dt>Collection(s)</dt>
	<% end %>
	<dd>
		<ul class="unstyled">
			<%
			#fields:
			# collection_1_id_tesim, collection_1_name_tesim,collection_1_type_tesim (AssembledCollection,ProvenanceCollection,ProvenanceCollectionPart)
			# TODO make sure facet links work
			i = 1;
			loop do
			%>
			<li><p><%= link_to @document["collection_#{i}_name_tesim"].first.html_safe, collection_path(@document["collection_#{i}_id_tesim"]) %></p></li>
		<%
		i += 1 #try again
		break unless @document["collection_#{i}_id_tesim"] != nil
		end
		%>
		</ul>
	</dd>
<% end %>
