<%
	 if defined?(componentIndex) # Then we're working with a component
		 prefix = "component_#{componentIndex}_"
		 htmlOpen = "<tr><td>%s</td><td>"
		 htmlClose = "</td></tr>"
	 else # We're working with an object or collection
		 prefix = ''
		 htmlOpen = "<dt>%s</dt><dd>"
		 htmlClose = "</dd>"
	 end

	 copyright = @document["#{prefix}copyright_id_tesim"]

	 if copyright != nil

		 copyright_status = @document["#{prefix}copyright_status_tesim"].first.gsub(/--/, '–')
		 copyright_jurisdiction = @document["#{prefix}copyright_jurisdiction_tesim"].first.upcase
		 copyright_purpose = @document["#{prefix}copyright_purposeNote_tesim"].first
		 copyright_note = @document["#{prefix}copyright_note_tesim"].first

		 htmlOpen %= 'Copyright'
		 concat htmlOpen.html_safe
%>
	<p><strong><%= copyright_status %> (<%= copyright_jurisdiction %>)</strong></p>
	<p><%= copyright_purpose %></p>
	<p class="muted"><small><%= copyright_note %></small></p>
<%
	 	concat htmlClose.html_safe

	 end
%>