<%
	 if defined?(componentIndex) # Then we're working with a component
		 prefix = "component_#{componentIndex}_"
		 htmlOpen = "<tr><td>%s</td><td>"
		 htmlClose = "</td></tr>"
	 else # We're working with an object or collection
		 prefix = ''
		 htmlOpen = "<dt>%s</dt><dd>"
		 htmlClose = "</dd>"
	 end

	 fieldData = @document["#{prefix}copyright_tesim"]

	 if fieldData != nil

		 htmlOpen %= 'Copyright'
		 concat htmlOpen.html_safe

		 copyright = JSON.parse(fieldData.first)
%>
		<p><strong><%= copyright['status'].gsub(/--/, '–') %> (<%= copyright['jurisdiction'].upcase %>)</strong></p>
		<p><%= copyright['purposeNote'] %></p>
		<p class="muted"><small><%= copyright['note'] %></small></p>
	<%

		 concat htmlClose.html_safe

		 end
	%>
