<%
	if defined?(componentIndex) # Then we're working with a component
		prefix = "component_#{componentIndex}_"
		htmlOpen = "<tr><td>%s</td><td><ul class='unstyled'>"
		htmlClose = "</ul></td></tr>"
	else # We're working with an object or collection
		prefix = ''
		htmlOpen = "<dt>%s</dt><dd><ul class='unstyled'>"
		htmlClose = "</ul></dd>"
	end

	fieldData = @document["#{prefix}date_json_tesim"]

	if fieldData != nil

		htmlOpen %= 'Date'.pluralize(fieldData.count)
		concat htmlOpen.html_safe

		fieldData.each do |datum|
			date = JSON.parse(datum)
%>
	     <% if date['type']!=nil && date['type']!=''&& date['value']!=nil &&date['value']!=''%>
			<li>Date <%= date['type'] %>&nbsp;Date <%= date['value'] %></li>
		 <% elsif date['value']!=nil && date['value']!='' %>
		    <li>Date <%= date['value'] %></li>
		 <% elsif date['type']!=nil && date['type']!='' %>
		    <li>Date <%= date['type'] %></li>
		 <% else %>
		    <li>Date </li>
		 <% end %>
			
<%
		end

		concat htmlClose.html_safe

	end
%>
