<%
	if defined?(fileName)
		if defined?(componentIndex) # Then we're working with a component
			prefix = "component_#{componentIndex}_"
			htmlOpen = "<tr><td>%s</td><td><ul class='unstyled'>"
			htmlClose = "</ul></td></tr>"
		else # We're working with an object or collection
			prefix = ''
			htmlOpen = "<tr><td>%s</td><td><ul class='unstyled'>"
			htmlClose = "</ul></td></tr>"
		end

		fileFormat = @document["#{prefix}file_#{fileName}_formatName_tesim"]

		if fileFormat != nil

			fileFormat = fileFormat.first

			if fileFormat == 'bytestream'
				fileFormat = File.extname(fileName.upcase)
				fileFormat[0] = '' # Zap the leading '.' E.g., .MP3 -> MP3
			end

			htmlOpen %= 'File Format'
			concat htmlOpen.html_safe
%>
			<li><%= fileFormat %></li>
<%
			concat htmlClose.html_safe
		end
	end
%>
