<%
	 if defined?(fileName)
		 if defined?(componentIndex) # Then we're working with a component
			 prefix = "component_#{componentIndex}_"
			 htmlOpen = "<tr><td>%s</td><td><ul class='unstyled'>"
			 htmlClose = "</ul></td></tr>"
		 else # We're working with an object or collection
			 prefix = ''
			 htmlOpen = "<tr><td>%s</td><td><ul class='unstyled'>"
			 htmlClose = "</ul></td></tr>"
		 end

		 fieldData = @document["#{prefix}files_tesim"]

		 if fieldData != nil

			 htmlOpen %= 'File Format'
			 concat htmlOpen.html_safe

			 fieldData.each do |datum|
				 files = JSON.parse(datum)
				 if files["use"].end_with?("-service")


					 fileFormat = files['formatName']

					 if fileFormat == 'bytestream'
						 fileFormat = File.extname(fileName.upcase)
						 fileFormat[0] = '' # Zap the leading '.' E.g., .MP3 -> MP3
					 end


%>
				<li><%= fileFormat %></li>
			<%
				 break
				 end
				 end

				 concat htmlClose.html_safe

				 end
				 end
			%>

