<%
	 if defined?(componentIndex) # Then we're working with a component
		 prefix = "component_#{componentIndex}_"
		 htmlOpen = "<tr><td>%s</td><td>"
		 htmlClose = "</td></tr>"
	 else # We're working with an object or collection
		 prefix = ''
		 htmlOpen = "<dt>%s</dt><dd>"
		 htmlClose = "</dd>"
	 end

	fieldData = @document["#{prefix}language_json_tesim"]
	lang = Array.new
	if fieldData != nil
		fieldData.each do |datum|
	 		language = JSON.parse(datum)
	 		if (!language['name'].blank? && language['name'].downcase != "no linguistic content")
	 			lang << language['name']
	 		end
	 	end
	 	if lang.count > 0
	 		htmlOpen %= 'Language'.pluralize(lang.count)
	 		concat htmlOpen.html_safe
	 		i = 0
	 		while( i < lang.count )
%>
				<ul class="unstyled">
					<li><%= lang[i] %></li>
				</ul>
<%			
				i += 1
			end
		end
		concat htmlClose.html_safe

	else 
		language = @document["#{prefix}language_tesim"]

		 if (language != nil && language.first.downcase != "no linguistic content")
	
			 htmlOpen %= 'Language'
			 concat htmlOpen.html_safe
%>
	
			<ul class="unstyled">
					<li><%= language.first %></li>
			</ul>
	
<%
			 concat htmlClose.html_safe
	
		 end
		
	end
%>