<%
	 if defined?(componentIndex) # Then we're working with a component
		 prefix = "component_#{componentIndex}_"
		 htmlOpen = "<tr><td>%s</td><td>"
		 htmlClose = "</td></tr>"
	 else # We're working with an object or collection
		 prefix = ''
		 htmlOpen = "<dt>%s</dt><dd>"
		 htmlClose = "</dd>"
	 end

	 language = @document["#{prefix}language_tesim"]

	 if language != nil

		 htmlOpen %= 'Language'
		 concat htmlOpen.html_safe
%>

		<ul class="unstyled">
				<li><%= language.first %></li>
		</ul>

<%
		 concat htmlClose.html_safe

	 end
%>