<%
	 if defined?(componentIndex) # Then we're working with a component
		 prefix = "component_#{componentIndex}_"
		 htmlOpen = "<tr><td>%s</td><td>"
		 htmlClose = "</td></tr>"
	 else # We're working with an object or collection
		 prefix = ''
		 htmlOpen = "<dt>%s</dt><dd>"
		 htmlClose = "</dd>"
	 end

	 fieldData = @document["#{prefix}license_tesim"]

	 if fieldData != nil

		 htmlOpen %= 'License'.pluralize(fieldData.count)
		 concat htmlOpen.html_safe

		 fieldData.each do |datum|
			 license = JSON.parse(datum)
%>
		<p><%= link_to license['note'], license['uri'] %></p>
<%
		 end

		 concat htmlClose.html_safe

	 end
%>


