<%
  # make sure locals are defined
  type = nil unless local_assigns[:type]
  label = nil unless local_assigns[:label]
  exclude_type = [] unless local_assigns[:exclude_type]
  exclude_label = [] unless local_assigns[:exclude_label]

  if defined?(componentIndex) # Then we're working with a component
    prefix = "component_#{componentIndex}_"
    htmlOpenTemp = "<tr><td>%s </td><td>"
    htmlClose = "</td></tr>"
  else # We're working with an object or collection
    prefix = ''
    htmlOpenTemp = "<dt>%s </dt><dd>"
    htmlClose = "</dd>"
  end

  # parse notes
  notes = []
  data = @document["#{prefix}note_json_tesim"]
  if data != nil
    data.each do |n|
      note = JSON.parse(n)
      note_type = note['type']
      note_label = note['displayLabel']

      # add notes if type/label match specification
      if ( type == nil || type == note_type ) &&
         ( label == nil || label == note_label ) &&
         ( exclude_type == nil || !exclude_type.include?(note_type) ) &&
         ( exclude_label == nil || !exclude_label.include?(note_label) )
        logger.warn "XXX note: #{note_type}.#{note_label}"
        notes << note
      else
        logger.warn "XXX excluded note: #{note_type}.#{note_label} != #{type}.#{label}"
      end
    end
  end

  if notes.count > 0
    if type == nil
      notes.each do |note| 
        htmlOpen = htmlOpenTemp
        if note['displayLabel'] != nil && !note['displayLabel'].blank?
          htmlOpen %= note['displayLabel'].gsub(/(?<=[A-Za-z])(?=[A-Z])/, ' ').split.map(&:capitalize).join(' ')
        elsif note['type'] != nil && !note['type'].blank?
          htmlOpen %= note['type'].gsub(/(?<=[A-Za-z])(?=[A-Z])/, ' ').split.map(&:capitalize).join(' ')
        else
          htmlOpen %= 'General Note'
        end
        concat htmlOpen.html_safe %>
        <p><%= auto_link(note['value'])%></p>
<%    end
    else
      notes.each do |note|
        htmlOpen = htmlOpenTemp
        htmlOpen %= type.to_s.capitalize
        concat htmlOpen.html_safe %>
        <p><%= auto_link(note['value'])%></p>
<%
      end
    end
    concat htmlClose.html_safe
  end
%>
