<%
	if defined?(componentIndex) # Then we're working with a component
		prefix = "component_#{componentIndex}_"
		htmlOpen = "<tr><td>%s</td><td><ul class='unstyled'>"
		htmlClose = "</ul></td></tr>"
	else # We're working with an object or collection
		prefix = ''
		htmlOpen = "<dt>%s</dt><dd><ul class='unstyled'>"
		htmlClose = "</ul></dd>"
	end

	fieldData = @document["#{prefix}personalName_tesim"]

	if fieldData != nil

		htmlOpen %= 'Personal Name'.pluralize(fieldData.count)
		concat htmlOpen.html_safe
%>

	  <ul class="unstyled glyphicon-list glyphicon-list-tag">
	    <% fieldData.sort_by(&:downcase).each do |topic| %>
	      <li><%= link_to topic.upcase_first, facet_uri(topic, 'subject_topic_sim') %></li>
	    <% end %>
	  </ul>

	  <% concat htmlClose.html_safe %>

	<% end %>
