<%
	if defined?(componentIndex) # Then we're working with a component
		prefix = "component_#{componentIndex}_"
		htmlOpen = "<tr><td>%s</td><td><ul class='unstyled'>"
		htmlClose = "</ul></td></tr>"
	else # We're working with an object or collection
		prefix = ''
		htmlOpen = "<dt>%s</dt><dd><ul class='unstyled'>"
		htmlClose = "</ul></dd>"
	end

	fieldData = @document["#{prefix}preferredCitationNote_json_tesim"]

	if fieldData != nil

		htmlOpen %= 'Preferred Citation Note'.pluralize(fieldData.count)
		concat htmlOpen.html_safe

		fieldData.each do |datum|
	 		preferredCitationNote = JSON.parse(datum)
%>
			<p>
				<strong>
					<% if preferredCitationNote['displayLabel'] != nil &&  !preferredCitationNote['displayLabel'].blank? %>
						<%= preferredCitationNote['displayLabel'].upcase %>
					<% elsif preferredCitationNote['type'] != nil && !preferredCitationNote['type'].blank? %>
						<%= preferredCitationNote['type'].upcase %>
					<% else %>
						Note
					<% end %>
				</strong>
			</p>
			<p><%= auto_link(preferredCitationNote['value']) %></p>
<%
		end

		concat htmlClose.html_safe

	end
%>
