<%
	htmlOpen %= key.pluralize(value.count).titleize
	concat htmlOpen.html_safe
%>

	<ul class="unstyled glyphicon-list glyphicon-list-tag">
		<% value.sort.each do |name| %>
			<li><%= link_to name, facet_uri(name, 'creator_sim') %></li>
		<% end %>
	</ul>

	<% concat htmlClose.html_safe %>