<%
	if defined?(componentIndex) # Then we're working with a component
		prefix = "component_#{componentIndex}_"
		htmlOpen = '<tr><td>%s</td><td>'
		htmlClose = '</td></tr>'
	else # We're working with an object or collection
		prefix = ''
		htmlOpen = '<dt>%s</dt><dd>'
		htmlClose = '</dd>'
	end

	fieldData = @document["#{prefix}relationship_json_tesim"] || {}
%>

		<% fieldData.each do |datum| %>

			<% relationship = JSON.parse(datum).sort.to_h %>

      <% if relationship.has_key?("Principal investigator") %>
				<%= render :partial => 'shared/fields/relationships_data', :locals => {key: "Principal investigator", value: relationship["Principal investigator"], htmlOpen: htmlOpen, htmlClose: htmlClose} %>
				<% relationship.delete("Principal investigator") %>
		  <% end %>

      <% if relationship.has_key?("Co-principal investigator") %>
				<%= render :partial => 'shared/fields/relationships_data', :locals => {key: "Co-principal investigator", value: relationship["Co-principal investigator"], htmlOpen: htmlOpen, htmlClose: htmlClose} %>
				<% relationship.delete("Co-principal investigator") %>
		  <% end %>

      <% relationship.each do |key, value| %>
					<%= render :partial => 'shared/fields/relationships_data', :locals => {key: key, value: value, htmlOpen: htmlOpen, htmlClose: htmlClose} %>
			<% end %>
		<% end %>

		
