<%
if @document['resource_type_tesim'] != nil && !defined?(componentIndex)
  fieldData = @document['resource_type_tesim']
  collection_title = collection_title(@document) || ''
  facet_uri_list = {'controller' => 'catalog', :action=> 'index', 'f' => {}}
  facet_uri_list.merge!({'f'=>{'collection_sim'=>["#{collection_title}"]}}) unless collection_title.blank?
%>
<dt><p class='field-title'><%= 'Format'.pluralize(fieldData.count) %></p>
  <p class='field-note'>View formats within this collection</p>
</dt>
<dd>
  <ul class='unstyled glyphicon-list glyphicon-list-tag'>
    <% fieldData.each do |resource_type|
      facet_uri_list['f'].merge!({'object_type_sim'=>["#{resource_type}"]}) %>
      <li><%= link_to resource_type, facet_uri_list %></li>
    <% end %>
  </ul>
</dd>
<% end %>
