<%
	 if defined?(componentIndex) # Then we're working with a component
		 prefix = "component_#{componentIndex}_"
		 htmlOpen = "<tr><td>%s</td><td>"
		 htmlClose = "</td></tr>"
	 else # We're working with an object or collection
		 prefix = ''
		 htmlOpen = "<dt>%s</dt><dd>"
		 htmlClose = "</dd>"
	 end

	 fieldData = @document["#{prefix}statute_tesim"]

	 if fieldData != nil

		 htmlOpen %= 'Statute'
		 concat htmlOpen.html_safe

		 statute = JSON.parse(fieldData.first)
%>
	<p><strong><%= statute['citation'] %> &ndash; <%= statute['jurisdiction'].upcase %></strong></p>
	<p><%= statute['note'] %></p>
<%

	 concat htmlClose.html_safe

	 end
%>





