<%
	 if defined?(componentIndex) # Then we're working with a component
		 prefix = "component_#{componentIndex}_"
		 htmlOpen = "<tr><td>%s</td><td>"
		 htmlClose = "</td></tr>"
	 else # We're working with an object or collection
		 prefix = ''
		 htmlOpen = "<dt>%s</dt><dd>"
		 htmlClose = "</dd>"
	 end

	 fieldData = @document["#{prefix}subject_tesim"]

	 if fieldData != nil

		 htmlOpen %= 'Subject'.pluralize(fieldData.count)
		 concat htmlOpen.html_safe
%>
		<ul class="unstyled">
			<% fieldData.each do |subject| %>
				<li><%= link_to "<i class='icon-tag icon-white'></i> #{subject}".html_safe, facet_uri(subject, 'subject_topic_sim'), :class => "label" %></li>
			<% end %>
		</ul>
<%
		 concat htmlClose.html_safe

	 end
%>