<%
	 prefix = (defined?(componentIndex)) ? "component_#{componentIndex}_" : ''
	 fieldData = @document["#{prefix}title_json_tesim"]
   title = nil
   subtitle = nil
   partName = nil
   partNumber = nil
%>

<% if fieldData != nil %>

	<hgroup>
	<% fieldData.each do |datum| 
      result = JSON.parse(datum)
      partName = result['partName'] || ""
      partNumber = result['partNumber'] || ""
      subtitle = result['subtitle'] || ""

      if !result['value'].blank?
         title = result['value']
        break
      else
        title = result['name'] || ""
      end
    end
  %>
    
	<h1><%= title %></h1>
  <% if !subtitle.empty? && !partName.empty? %>
    <h2><%= "#{subtitle}, #{partName} #{partNumber}" %></h2>
  <% else %>
	  <h2><%= "#{subtitle}#{partName} #{partNumber}" %></h2> 
  <% end %>
	</hgroup>

<% elsif defined?(componentIndex) %>

  <hgroup>
    <h1>Generic Component Title <%= componentIndex %></h1>
  </hgroup>

<% end %>
