<%
	 prefix = (defined?(componentIndex)) ? "component_#{componentIndex}_" : ''
	 fieldData = @document["#{prefix}title_json_tesim"]
%>

<% if fieldData != nil %>

	<hgroup>
	<% fieldData.each do |datum| %>
		<% title = JSON.parse(datum) %>
		<h1><%= title['value'] %></h1>
		<% if title['subtitle'] != [] %>
			<h2><%= title['subtitle'] %></h2>
		<% end %>
		<% break %>
	<% end %>
	</hgroup>

<% elsif defined?(componentIndex) %>

  <hgroup>
    <h1>Generic Component Title <%= componentIndex %></h1>
  </hgroup>

<% end %>