<%
	 prefix = (defined?(componentIndex)) ? "component_#{componentIndex}_" : ''
	 fieldData = @document["#{prefix}title_json_tesim"]
   title = nil
   subtitle = nil
%>

<% if fieldData != nil %>

	<hgroup>
	<% fieldData.each do |datum| 
      result = JSON.parse(datum)
      if !result['value'].blank?
         title = result['value'] 
         subtitle = result['subtitle'] if !result['subtitle'].blank?
        break
      else
        title = result['name']
        subtitle = result['subtitle'] if !result['subtitle'].blank?
      end
    end
  %>
    
	<% if title %><h1><%= title %></h1><% end %>
	<% if subtitle %><h2><%= subtitle %></h2> <% end %>
	</hgroup>

<% elsif defined?(componentIndex) %>

  <hgroup>
    <h1>Generic Component Title <%= componentIndex %></h1>
  </hgroup>

<% end %>
