<%
	 prefix = (defined?(componentIndex)) ? "component_#{componentIndex}_" : ''
	 titleData = @document["#{prefix}title_json_tesim"]
%>

<% if titleData != nil %>
	<hgroup>
	<% titleData.each do |datum| %>
		<% title = JSON.parse(datum) %>
		<h1><%= title['value'] %></h1>
		<% if title['subtitle'] != '' %>
			<h2><%= title['subtitle'] %></h2>
		<% end %>
	<% end %>
	</hgroup>
<% end %>