<%
	 prefix = (defined?(componentIndex)) ? "component_#{componentIndex}_" : ''
	 fieldData = @document["#{prefix}title_json_tesim"]
%>

<% if fieldData != nil %>

	<hgroup>
	<% fieldData.each do |datum| %>
		<%
          t = JSON.parse(datum)
          title = "#{t['nonSort']} #{t['value'].gsub('""', '"')}"
          unless t['partName'].blank?
            title += ", " unless title.blank?
            title += t['partName']
          end
          unless t['partNumber'].blank?
            title += ", " unless title.blank?
            title += t['partNumber']
          end
        %>
		<h1><%= title %></h1>
		<% if t['subtitle'] != '' %>
			<h2><%= t['subtitle'].gsub('""', '"') %></h2>
		<% end %>
		<% break %>
	<% end %>
	</hgroup>

<% elsif defined?(componentIndex) %>

  <hgroup>
    <h1>Generic Component Title <%= componentIndex %></h1>
  </hgroup>

<% end %>
