<% if @document['unit_json_tesim'] != nil && !defined?(componentIndex)
     unit = JSON.parse(@document['unit_json_tesim'].first) %>
  <dt>Repository</dt>
  <dd><ul><li><%= unit['name'] %></li></ul></dd>
<% end %>
