
<%
	 if defined?(componentIndex) # Then we're working with a component
		 prefix = "component_#{componentIndex}_"
		 htmlOpen = "<tr><td>%s</td><td>"
		 htmlClose = "</td></tr>"
	 else # We're working with an object or collection
		 prefix = ''
		 htmlOpen = "<dt>%s</dt><dd>"
		 htmlClose = "</dd>"
	 end

	 fieldData = @document["#{prefix}unit_json_tesim"]

	 if fieldData != nil

		 htmlOpen %= 'Unit'
		 concat htmlOpen.html_safe

		 unit = JSON.parse(fieldData.first)
%>
	<ul class="unstyled">
		<li><%= link_to unit['name'], dams_unit_path(unit['code']) %></li>
	</ul>
<%

	 concat htmlClose.html_safe

	 end
%>

