<h2>Add File</h2>
<%= button_to( "Generate Derivatives", deriv_path( @id, @ds ), remote: true, data: {disable_with: 'Generating...'}, form: {id: "generate_derivatives"}, class: 'btn' ) %>
<%= link_to "Hydra View", view_dams_object_path( @id ), class: 'btn', id: 'hydra_view' %>
<%= link_to "Solr View", dams_object_path( @id ), class: 'btn' %>
