<p>Hello <%= @user.email %>!</p>

<p>Here is your link to sign in to UCSD Digital Library:</p>

<a href="<%= URI.join(root_url, new_user_session_path).to_s + "?auth_token=" + @user.authentication_token + "&email=" + @user.email %>">Click Here</a>
