<p>Dear <%= @user.email %>,</p>

<p>
The materials you have requested are now available via the UC San Diego Library’s Virtual Reading Room service. We are providing you with limited access to use these materials for 30 days, for your own personal research use only, in accordance with the Special Collections Access and Use and Duplication policies you agreed to upon registering with Special Collections & Archives.
</p>

<p>
After 30 days your access to this material will automatically expire. If you need access beyond 30 days you will need to initiate a new request via the <a href="https://spcoll-request.ucsd.edu/Logon">Special Collections Request System</a> after your access expires. Staff will evaluate your request and decide whether a renewal is appropriate.
</p>

<p>
If you wish to use these materials for publication or in any manner beyond your personal research, or if you have any questions, please contact us at spcoll@ucsd.edu.
</p>

<a href="<%= @url %>">Access</a>

<p>Sincerely,</p>

<p>Special Collections & Archives<br>UC San Diego Library</p>
