<% btnColor = (@document['component_count_isi'] != nil) ? 'btn-inverse' : 'btn-primary' %>
<% ucsd_local_display = (@document['otherRights_tesim'] != nil && @document['otherRights_tesim'].first.to_s.include?('localDisplay')) ? 'true' : 'false' %>
<% if can? :update, @document then %>
  <div class="form-actions dams-download-button">
    <a class="btn <%=btnColor%> pull-right" href="<%= downloadFilePath %>">
      <i class="icon-download-alt icon-white"></i>Download file
    </a>
  </div>
<% elsif ucsd_local_display == 'false' && !downloadDerivativePath.nil?%>
  <div class="form-actions dams-download-button">
    <a class="btn <%=btnColor%> pull-right" href="<%= downloadDerivativePath %>">
      <i class="icon-download-alt icon-white"></i>Download file
    </a>
  </div>
<% end %>
