<div id="etc-menu">
  <% adl_glyph =  '<i class="glyphicon glyphicon-download-alt"></i>'.html_safe %>
  <% adl_title = 'Download File' %>
  <% adl_class = 'adl pull-right' %>

  <% if can? :update, @document then %>
    <%= link_to adl_glyph, downloadFilePath, :rel => 'nofollow', class:adl_class, title:adl_title %>
  <% elsif can?(:read, @document) && can_download?(@document) && !downloadDerivativePath.nil?%>
    <%= link_to adl_glyph, downloadDerivativePath, :rel => 'nofollow', class:adl_class, title:adl_title %>
  <% end %>

</div>