<%
   videoURL = nil

   prefix = (defined?(componentIndex)) ? "component_#{componentIndex}_" : ''
   objid = @document['id']
   cmpid = (defined?(componentIndex)) ? "#{componentIndex}" : '0'
   fieldData = @document["#{prefix}files_tesim"]

   if fieldData != nil
     fieldData.each do |datum|
       files = JSON.parse(datum)
       if files['use'] == 'audio-service'
         fileid = cmpid + '-' + files['id']
         encrypted = encrypt_stream_name( objid, fileid, request.ip )
         #encrypted = 'blahblahblah'
         videoURL = ViewOptions::AUDIO_PARTIAL_URL + encrypted
       end
     end
   end
%>

<% if videoURL != nil %>

  <div id="dams-audio">Loading the player...</div>

  <script type="text/javascript">
	  jwplayer("dams-audio").setup({
		  playlist:
				  [{
					  sources:
							  [
								  {file: "rtmp://<%=videoURL%>"},
								  {file: "http://<%=videoURL%>/playlist.m3u8"}
							  ]
				  }],
		  width: "100%",
		  height: 25,
		  controlBar:'bottom',
		  rtmp: {bufferlength: 3},
		  analytics: {enabled: false},
		  primary: "flash",
		  fallback: false
	  });
  </script>

<% end %>
