
<%
	 fieldData = @document["unit_json_tesim"]
	 if fieldData != nil
		 unit = JSON.parse(fieldData.first)
	 end

	 fieldData = @document["title_json_tesim"]
	 if fieldData != nil
		 title = JSON.parse(fieldData.first)
	 end
%>

<ul class="breadcrumb">
	<li><a href="/">Digital Collections</a> <span class="divider">&raquo;</span></li>
	<!--<li><%#= link_to unit['name'], "/#{unit['code']}" %> <span class="divider">&raquo;</span></li>-->
    <% if title != nil %>
	  <li class="active"><%= title['value'] %></li>
    <% end %>
</ul>
