<div id="component-pager">
	<span id="component-pager-label">Component</span>
	<nav class="btn-group pull-right">
	  <button id="component-pager-back" class="btn btn-inverse btn-mini"><i class="glyphicon glyphicon-arrow-left"></i></button>
	  <button id="component-pager-forward" class="btn btn-inverse btn-mini"><i class="glyphicon glyphicon-arrow-right"></i></button>
	</nav>
</div>