<div class="form-actions dams-download-button">
	<%# <p class="muted"> %>
		<%# <small> %>
			<%# if objectType == 'simple' %>
				<%# There are no files associated with this object. %>
			<%# elsif objectType == 'complex' %>
				<%# There are no files associated with this component. %>
			<%# else %>
				<%# There are no files associated with this object or component. %>
			<%# end %>
		<%# </small> %>
	<%# </p> %>
</div>

