<button class="btn btn-mini btn-link btn-block" type="button" data-toggle="collapse" data-target="#metadata-fold"><strong>Hide metadata</strong></button>
<section id="metadata-fold" class="collapse in">
	<dl class="dl-horizontal">
		<%= render :partial => 'shared/fields/show' %>
	</dl>
</section>
