<% if defined?(componentIndex) %>

	<div class="file-metadata">
		<table class="table">
			<tbody>

				<%# File data %>
				<% if defined?(fileMetadata) and defined?(fileName) %>
					<% if fileMetadata == true %>
						<%= render :partial => 'shared/fields/file_size', :locals => {:componentIndex => componentIndex} %>
						<%= render :partial => 'shared/fields/file_format', :locals => {:componentIndex => componentIndex, :fileName => fileName} %>
					<% end %>
				<% end %>

				<%= render :partial => 'shared/fields/show_raw', :locals => {:componentIndex => componentIndex} %>
								
			</tbody>
		</table>
	</div>

<% end %>
