<% if defined?(fileName) %>

	<table class="table">
		<tbody>

			<%= render :partial => 'shared/fields/file_size', :locals => {:fileName => fileName} %>
			<%= render :partial => 'shared/fields/file_format', :locals => {:fileName => fileName} %>

		</tbody>
	</table>

<% end %>