<div class="row-fluid">
	<section class="span12">
		<% if @document['id'] != nil %>
			<% if @document['component_count_isi'] != nil %>
				<%# THE COMPLEX OBJECT SAYS, "IPSA SCIENTIA POTESTAS EST" %>
				<%= render :partial => 'complex_object_viewer' %>
			<% else %>
				<%# THE SIMPLE OBJECT SEZ, "DERP" %>
				<%
					ark = render_document_show_field_value(:document=>@document, :field=>'id')

					fileType = grabFileUse()
					display_file = grabDisplayFile()
					service_file = grabServiceFile()
					display_file_path = (display_file != 'no_display') ? file_path(ark,"_#{display_file}") : ''
                    if service_file != nil 
					  service_file_path = file_path(ark,"_#{service_file}")
                    end
				%>

				<%= render :partial => 'simple_object_viewer', :locals => {:fileType=>fileType, :display_file_path=>display_file_path, :service_file_path=>service_file_path, :service_file=>service_file} %>
			<%end%>
		<% end %>
	</section>
</div>
