<% if @previous_document || @next_document %>
  <div class="search-results-pager">
    <%
      curr = session[:search][:counter].to_i
      total = session[:search][:total].to_i
      prev_item = curr - 1
      next_item = curr + 1
     %>
    <% if prev_item > 0 %>
      <%= link_to_document @previous_document, :label => "<i class='icon-backward'></i> Previous".html_safe, :counter => prev_item %>
    <% end %>
    <span><%= item_page_entry_info %> search results</span>
    <% if next_item <= total %>
      <%= link_to_document @next_document, :label => "Next <i class='icon-forward'></i>".html_safe, :counter => next_item %>
    <% end %>
  </div>
<% end %>
