<%
	wowzaURL = nil

	prefix = (defined?(componentIndex)) ? "component_#{componentIndex}_" : ''
	objid = @document['id']
	cmpid = (defined?(componentIndex)) ? "#{componentIndex}" : '0'
	fieldData = @document["#{prefix}files_tesim"]

	if fieldData != nil
		fieldData.each do |datum|
			files = JSON.parse(datum)
			if files['use'] == 'video-service'
				fileid = cmpid + '-' + files['id']
				encrypted = encrypt_stream_name( objid, fileid, request.ip )
#				wowzaURL = ViewOptions::WOWZA_PARTIAL_URL + 'mp4:' + encrypted
				wowzaURL = ViewOptions::WOWZA_PARTIAL_URL + 'mp4:' + files['sourcePath'].gsub(ViewOptions::WOWZA_PARENT_DIRECTORY,'') + files['sourceFileName']
			end
		end
	end
%>

<% if wowzaURL != nil %>

	<div id="dams-video">Loading the player...</div>

	<script type="text/javascript">
		jwplayer("dams-video").setup({
			playlist:
			[{
				sources:
				[
					{file: "rtmp://<%=wowzaURL%>"},
					{file: "http://<%=wowzaURL%>/playlist.m3u8"}
				]
			}],
			width: "100%",
			aspectratio: "16:9",
			rtmp: {bufferlength: 3},
			analytics: {enabled: false},
			primary: "flash",
			fallback: false
		});
	</script>

<% end %>
