<%
   prefix = (defined?(componentIndex)) ? "component_#{componentIndex}_" : ''
   objid = @document['id']
   cmpid = (defined?(componentIndex)) ? "#{componentIndex}" : '0'
   fieldData = @document["#{prefix}files_tesim"]
   wowzaURL = grabWowzaURL(fieldData,objid,cmpid)
%>

<% if wowzaURL != nil %>

	<div id="dams-video">Loading the player...</div>

	<script type="text/javascript">
		jwplayer("dams-video").setup({
			playlist:
			[{
				sources:
				[
					{file: "rtmp://<%=wowzaURL%>"},
					{file: "http://<%=wowzaURL%>/playlist.m3u8"}
				]
			}],
			width: "100%",
			aspectratio: "16:9",
			rtmp: {bufferlength: 3},
			analytics: {enabled: false},
			primary: "flash",
			fallback: false
		});
	</script>

<% end %>
