<h1>Objects</h1>

<div class="span6">
  <ul>
    <% @document.each do |doc|
        @title = doc['title_tesim']
        @title = @title.first if @title.kind_of?(Array)
    %>
      <li><%= link_to @title, doc %></li>
    <% end %>
  </ul>
</div>

<div>
  <% if can? :create, DamsObject %>
    <%= link_to "Create Object", new_dams_object_path, :class => 'btn btn-primary'%>
  <% end %>
</div>
