<h1>DAMS Vocabulary Entries</h1>

<div class="span6">
  <ul><%= render_language_list %></ul>
</div>

<div>
  <% if can? :create, DamsVocabularyEntry%>
    <%= link_to "Create Vocabulary Entry", new_dams_vocabulary_entry_path, :class => 'btn btn-primary'%>
  <% end %>
</div>
