<% name = render_document_show_field_value(:document=>@document, :field=>"name_tesim") %>
<% code = render_document_show_field_value(:document=>@document, :field=>"code_tesim") %>
<% scheme_id = render_document_show_field_value(:document=>@document, :field=>"scheme_tesim") %>
<% scheme_name = render_document_show_field_value(:document=>@document, :field=>"scheme_name_tesim") %>
<% record_id = render_document_show_field_value(:document=>@document, :field=>"id_t") %>

<h1><%= name %></h1>
<div>code: <%= code %></div>
<div>scheme: <%= link_to scheme_name, mads_scheme_path(scheme_id) %></div>

