<h1><%= @mads_authority.name.first %></h1>
<div>code: <%= @mads_authority.code.first %></div>
<div>scheme: <%= link_to @scheme_name, mads_scheme_path(@scheme_id) %></div>
<%= render :partial => 'shared/edit_fields/view_form_hidden_fields' , :locals => {:object => @mads_authority, :parent_id => params[:parent_id], :parent_class => params[:parent_class]}%>  

