<%
		htmlOpen = "<dt>%s</dt><dd>"
		htmlClose = "</dd>"

		if @document["authority_tesim"] != nil 
		    htmlOpen %= 'Authority'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"authority_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end		
		
		htmlOpen = "<dt>%s</dt><dd>"
		if @document["valueURI_tesim"] != nil 
		    htmlOpen %= 'URI'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= link_to "<i class='icon-globe'></i> #{@document['valueURI_tesim'].first}".html_safe, @document['valueURI_tesim'].first, :class => "btn btn-block  btn-link" %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end						 	
%>