<h1>Create a new DAMS Vocab</h1>
<%= form_for @dams_vocab do |f| %>
  <%= label_tag 'dams_vocab[description]', "Description" %><%= text_field_tag 'dams_vocab[description]' %>
  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
<%end%>
