<% name = render_document_show_field_value(:document=>@document, :field=>"name_tesim") %>
<% code = render_document_show_field_value(:document=>@document, :field=>"code_tesim") %>
<% @page_title =  "MADS Scheme | #{name}" %>
<div class="row-fluid">
  <div id="content">
    <p>name: <%= name %></p>
    <p>code: <%= code %></p>
  </div>

 
</div>
