<footer class="footer">
	<div id="tdr_footer">
	<div id="tdr_footer_content">
	<div id="tdr_address">
		<span id="tdr_address_place">UC San Diego</span>
		<span id="tdr_address_street">9500 Gilman Dr.</span>
		<span id="tdr_address_city_state_zip">La Jolla, CA 92093</span>
		<span id="tdr_address_phone">(858) 534-2230</span>
	</div>
	<div id="tdr_copyright">Copyright &copy;<span id="tdr_copyright_year">2012</span> Regents of the University of California. All rights reserved.</div>
	<ul id="tdr_footer_links">
		<li><a href="http://www.ucsd.edu/_about/legal/index.html">Terms &amp; Conditions</a></li>
		<li id="tdr_footer_feedback">
			<a href="http://www-act.ucsd.edu/cwp/feedback/tool/cwo">Feedback</a>
		</li>
	</ul>
		<!-- shib timeout -->
		<img src="https://a4.ucsd.edu/tritON/imagebug" alt=" " style="display: none;" />
		
	<!-- Insert Google Analytics code here if you have an account -->
		</div>
	</div>
</footer>