<div id="tdr_nav">
	<div id="tdr_nav_content">
		<ul id="tdr_nav_list">
			<li class="active"><a href="#">Main Link 1</a></li>
			<li><a href="#">Main Link 2</a></li>
			<li><a href="#">Main Link 3</a>
				<ul>
				<	li><a href="#">Sub Link A</a></li>
					<li><a href="#">Sub Link B</a></li>
					<li><a href="#">Sub Link C</a></li>
				</ul>
				</li>
				<li><a href="#">Main Link 4</a>
				<ul>
					<li><a href="#">Sub Link A</a></li>
					<li><a href="#">Sub Link B</a></li>
					<li><a href="#">Sub Link C</a></li>
				</ul>
			</li>
			<li><a href="#">Main Link 5</a></li>
			<li><a href="#">Main Link 6</a></li>
			<li><a href="#">Main Link 7</a></li>         
		</ul>
	</div>
</div>
