<div id="tdr_title">
	<div id="tdr_title_content">
		<a href="http://www.ucsd.edu" id="tdr_title_ucsd_title">UC San Diego</a> 
	    <div id="tdr_title_page_title"><a href="#">THE LIBRARY</a></div>
		<a class="search-button" id="tdr_title_search_link">Search</a>
		<a id="tdr_title_menu_link">Menu</a>
	</div>
</div>