<div id="tdr_search" class="tdr_search">
<div id="tdr_search_content" class="tdr_search_content">
<form action="http://www-act.ucsd.edu/cwp/tools/search-redir" method="get">
    <label for="search-scope">Search</label>
    <select id="search-scope" name="search-scope">

        <option value="default_collection">All UCSD Sites</option>
        <option value="faculty-staff">Faculty/Staff</option>
    </select>
    <label id="search-term-label">Search Term</label>
    <input id="search-term" name="search-term" size="20" type="search"/>
    <input class="search-button" type="submit" value="Search"/>
</form></div>
</div>