<h1>Work Authorizations</h1>

<% if @work_authorizations.present? %>
  <table class="table table-striped">
    <tr>
      <th>Work</th>
      <th>Actions</th>
    </tr>
    <% @work_authorizations.each do |work_authorization| %>
      <tr>
        <td>
          <%= work_authorization.work_title %>
        </td>
        <td>
          <%= link_to "View", dams_object_path(work_authorization.work_pid) %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No work authorizations to show</p>
<% end %>
