<h1>DAMS Roles</h1>

<div class="span6">
  <ul><%= render_role_list %></ul>
</div>

<div>
  <% if can? :create, DamsRole%>
    <%= link_to "Create Role", new_dams_role_path, :class => 'btn btn-primary'%>
  <% end %>
</div>
