<% if @document['cartographics_line_tesim'] != nil
		#<arr name="cartographics_line_tesim">
		#<str>0.34,159.38 0.34,159.38</str>
		#</arr>
	%>
	<dt>Cartographics</dt>
	<dd><p>Line: <%= @document["cartographics_line_tesim"].first %></p></dd>
<% end %>