<% if @document['corporateName_1_id_tesim'] != nil %>
<dt class="text-dulled">Corporate Names</dt>
<!-- 
example. good one? not sure of correct structure here
<arr name="corporateName_2_id_tesim">
<str>bd69633288</str>
</arr>
<arr name="corporateName_2_name_tesim">
<str>
University of California, San Diego.. Center for Astrophysics and Space Sciences.
</str>
</arr>
<arr name="corporateName_2_authority_tesim">
<str>naf</str>
</arr>
<arr name="corporateName_element_2_0_tesim">
<str>University of California, San Diego.</str>
</arr>
<arr name="corporateName_element_2_1_tesim">
<str>Center for Astrophysics and Space Sciences</str>
</arr>
-->
<%
i = 1;
loop do
%>	
<% if @document["corporateName_#{i}_name_tesim"] != nil%>
<dd>
	<p><%=@document["corporateName_#{i}_name_tesim"].first%></p>
</dd>
<% end %>
<%
i += 1 #try again
break unless @document["corporateName_#{i}_id_tesim"] != nil
end
end
%>