<!-- initial date partial. needs to  -->
<% if@document["date_1_value_tesim"] != nil
	#fields:
	# date_1_beginDate_tesim, date_1_endDate_tesim, date_1_value_tesim, date_1_type_tesim (default: created)
	i = 1;
	loop do
%>
<dt>
	<!-- try using type for context, fall back on created if nothing present -->
	<% if @document["date_#{i}_type_tesim"] != nil %>
		<%=@document["date_#{i}_type_tesim"].first.titleize%>
	<% else %>
		Created
	<% end %>
</dt>	
<dd>
	<p><%=@document["date_#{i}_value_tesim"].first%></p>
</dd>
<%
	i += 1 #try again
	break unless @document["date_#{i}_value_tesim"] != nil
	end
end
%>