<% if@document["genreForm_1_id_tesim"] != nil
	#fields:
	# genreForm_1_id_tesim, genreForm_1_name_tesim
	i = 1;
	loop do
%>
<dt class="text-dulled">Genre</dt>	
<dd>
	<p><%=@document["genreForm_#{i}_name_tesim"].first%></p>
</dd>
<%
	i += 1 #try again
	break unless @document["genreForm_#{i}_id_tesim"] != nil
	end
end
%>