<% if @document["name_tesim"] != nil %>
	<dt><%="Name".pluralize(@document["name_tesim"].count)%></dt>
	<dd>
		<ul class="unstyled">
		<%
			#fields:
			# arr name="name_tesim">
			#<str>Wagner, Rick, 1972-</str>
			#<str>Hallman, Eric J.</str>
			#<str>So, Geoffrey</str>
			#<str>Burns, Jack O.</str>
			#<str>Wagner, Rick, 1972-</str>
			#<str>Harkness, Robert</str>
			#</arr>
		names = @document["name_tesim"];
		@document["name_tesim"].each { |name| 
			concat "<li>#{name}</li>".html_safe
		}
		%>
		</ul>
	</dd>
<% end %>