<% if @document['subject_tesim'] != nil %>
	<dt>Subjects</dt>
	<dd>
		<ul class="unstyled">
		<% @document['subject_tesim'].each do |sub| %>
			<li><%= link_to "<i class='icon-tag icon-white'></i> #{sub}".html_safe, facet_uri(sub, 'subject_topic_sim'), :class => "label" %></li>
		<% end %>
		</ul>
	</dd>
<% end %>