<% if @document['resource_type_tesim'] != nil 
	resource_type = @document['resource_type_tesim'].first
%>
	<dt>Format</dt>
	<dd>
		<ul class="unstyled">
			<li><%= link_to "<i class='icon-tag icon-white'></i> #{resource_type}".html_safe, facet_uri(resource_type, 'object_type_sim'), :class => "label" %></li>
		</ul>
	</dd>
<% end %>