<% if @document['unit_name_tesim'] != nil %>
	<%
		unit_name = render_document_show_field_value(:document=>@document, :field=>"unit_name_tesim")
	%>
	<dt>Unit</dt>
	<dd><p><%= link_to unit_name.html_safe, unit_path(@document["unit_code_tesim"]) %></p></dd>
<% end %>