<% if @document['unit_name_tesim'] != nil %>
	<%
		unit_name = render_document_show_field_value(:document=>@document, :field=>"unit_name_tesim")
	%>
	<dt>Unit</dt>
	<dd>
		<ul class="unstyled">
			<li><%= link_to "<i class='icon-tag icon-white'></i> #{unit_name}".html_safe, facet_uri(unit_name,'unit_sim'), :class => "label" %></li>
		</ul>
	</dd>
<% end %>