<% @page_title = @page.title %>
<% if can? :edit, @page %>
  <%= link_to 'Edit Page', edit_page_path(@page), class: "btn btn-primary pull-right" %>
<% end %>

<p id="notice"><%= notice %></p>

<h1><%= @page.title %></h1>

<div>
  <%= @page.body.html_safe %>
</div>
