<h1>DAMS Provenance Collection</h1>



<div>
  <% if can? :create, DamsProvenanceCollection%>
    <%= link_to "Create New Provenance Collection", new_dams_provenance_collection_path, :class => 'btn btn-primary'%>
  <% end %>
</div>
<br>

<div class="span6">
  <ul><%= render_provenance_collection_list %></ul>
</div>
