<h1>DAMS Provenance Collection</h1>



<div>
  <% if can? :create, DamsProvenanceCollection%>
    <%= link_to "Create New Provenance Collection", new_dams_provenance_collection_path, :class => 'btn btn-primary'%>
  <% end %>
</div>
<br>



<div class="span6">
  <ul>
    <% @document.each do |doc| %>
      <li><%= link_to doc['title_tesim'].first, dams_provenance_collection_path(doc['id']) %></li>
    <% end %>
  </ul>
</div>