<div class="fields">
	<div id="assembledCollectionId">
	    <%= f.select :id, options_for_select(@dams_assembled_collections, :selected => "#{Rails.configuration.id_namespace}#{@assembledCollection_id}") , {:include_blank => 'Select Assembled Collection'}, :id=>"newClassNameCollectionId", :onChange=>"javascript: checkOption(this.id,true,'dams_assembled_collections');" %>	    
		<p class="removeIcon"><%= link_to_remove_fields "X", f %></p>
    </div>
</div>
