<div class="fields">
	<div id="complexSubjectId">	    
	    <%= f.select :id, options_for_select(@mads_complex_subjects, :selected => "#{Rails.configuration.id_namespace}#{@complexSubject_id}") , {:include_blank => 'Select Subject'}, :id=>"newClassNameComplexId", :onChange=>"javascript: checkOption(this.id,true,'mads_complex_subjects');" %>    		
		<p class="removeIcon"><%= link_to_remove_fields "X", f %></p>
    </div>
</div>
