  <%
     nameTypeArray = [["ConferenceName", "ConferenceName"],["CorporateName", "CorporateName"],["FamilyName", "FamilyName"],["Name", "Name"], ["PersonalName", "PersonalName"]]
  %>  

  <h3>Creator</h3>  

<%= render :partial => 'shared/edit_fields/creator_fields' , :locals => {:f => f, :object_type => "dams_object", :nameTypeArray => nameTypeArray}%>

<p><%= link_to_add_creators "Add Creator", f, "#{object_type}", nameTypeArray%></p>
