<div class="fields">
<br/>
<%= select_tag "#{object_type}[nameType][]",  options_for_select(nameTypeArray) , :prompt=>"Select Creator" , :onChange=>"javascript: getCreators(this,'#{object_type}','#creator','0');"%>

<div id="creator"></div>
</div>