  <%
     nameTypeArray = [["ConferenceName", "ConferenceName"],["CorporateName", "CorporateName"],["FamilyName", "FamilyName"],["Name", "Name"], ["PersonalName", "PersonalName"]]
  %>
  <h3>Creator</h3>
  <%= select_tag 'dams_object[nameType][]',  options_for_select(nameTypeArray, :selected => @simple_name_type) , :prompt=>"Select name type" , :onChange=>"javascript: getSubjects('dams_object',this.value,'#name','nameURI','Name');"%>
  <% if !@simple_name_value.nil? && @simple_name_value.length > 0%>
  	<br>
  	<%=text_field_tag 'dams_object[nameTypeValue][]', @simple_name_value , class: "input-block-level"%>
  <% elsif !@simple_name_type.nil? && @simple_name_type.length == 0%>
	<div id="name"></div> OR Enter Name<%=text_field_tag 'dams_object[nameTypeValue][]' , "", class: "input-block-level"%>    
  <% else %>
	<div id="name"><%= select_tag 'dams_object[nameURI][]', options_for_select(@simple_names, :selected => @simple_name_id), :prompt=>"Select Name" %></div>  
  <% end %>