<h3>Creator</h3>
<%
  nameTypeArray = [["ConferenceName", "ConferenceName"],["CorporateName", "CorporateName"],["FamilyName", "FamilyName"],["Name", "Name"], ["PersonalName", "PersonalName"]]
%>

<% 
  i = 0
  @creators.each do |creat|
	tmp = JSON.parse(creat.to_json)
%>
	<%= render :partial => 'shared/edit_fields/creator_edit_fields' , :locals => {:f => f, :object_type => object_type, :nameTypeArray => nameTypeArray, :selected_type => "#{tmp['name']}", :index => "#{i}", :selected_value => "#{tmp['value']}"}%>       
<% 
	i = i+1
  end 
%>

<p><%= link_to_add_edit_subjects "Add Creator", f, "#{object_type}", nameTypeArray, "#{i}"%></p>