<div class="fields">
	<%= f.select :id, options_for_select(@mads_languages, :selected => "#{Rails.configuration.id_namespace}#{@language_id}") , {:include_blank => 'Select Language'}, :required => "true", :id=>"newClassNameLanguageId", :onChange=>"javascript: checkOption(this.id,true,'mads_languages');"%>    
    <%# if (!is_first.nil? && is_first == "false") %>
	<p class="removeIcon"><%= link_to_remove_fields "X", f %></p>    
    <%# end %>
</div>
