<div class="fields">
	<br/>
	<%= select_tag "#{object_type}[languageURI][]", options_for_select(@mads_languages) , :prompt=>"Select Language", :class=>"newClassName", :onChange=>"javascript: checkOption(this.className,false,'mads_languages');"%>
	<br/>
	<%= link_to_remove_fields "Remove Language", f%>			
</div>
