  <h3>Language</h3>  
  <div id="newLanguage">
	  <%#= f.fields_for :language do |builder| %>
	    <%#= render "shared/edit_fields/language_fields", :f => builder %>                   
	  <%# end %>
  </div>
  <div id="newLanguageLink">
	  <%= f.fields_for :language do |lang| %>
	    <%= lang.select :id, options_for_select(@mads_languages) , {:include_blank => 'Select Language'}, :required => "true", :onChange=>"javascript: checkOption();"%>
	  <% end %>
  </div>
  <p><%#= link_to_add_fields "Add Language", f, :language, "MadsLanguage" %></p>
  <p><%#= link_to_create_field "Add New Language", f, "/mads_languages/new" %></p>  