<div class="fields">
  <%#= f.fields_for :relationship do |rel| %>
	  <%#= rel.fields_for :role do |ro| %>
	    <%#= ro.select :id, options_for_select(@mads_authorities) , :prompt=>"Select Role"%>
	  <%# end %>
  <%# end %>  
  <br/>
<%= select_tag "#{object_type}[relationshipNameType][]",  options_for_select(typeArray) , :prompt=>"Select Name Type" , :onChange=>"javascript: getDynamicFields(this,'#{object_type}','#newRelationship','0','relationshipName',null,'true',null);"%>

<div id="newRelationship"></div>

</div>