<h3>Related Resource</h3>
<div id="relatedResourceSection">
   <%= f.fields_for :relatedResource do |relResource| %>
		<%= render "shared/edit_fields/relatedResource_fields", :f => relResource %>       
   <% end %>
</div>
<!-- Workaround to add multiple RelatedResources because RelatedResource has no datastream. -->
<p><%= link_to_add_fields "Add Related Resource", f, :relatedResource, "DamsNote", "DamsNote" %></p>