 <h3>Relationship</h3>
  <%
     nameTypeArray = [["ConferenceName", "ConferenceName"],["CorporateName", "CorporateName"],["FamilyName", "FamilyName"],["Name", "Name"], ["PersonalName", "PersonalName"]]
  %>  

  <%= render :partial => 'shared/edit_fields/relationship_fields' , :locals => {:f => f, :object_type => object_type, :nameTypeArray => nameTypeArray}%>

  <p><%= link_to_add_relationships "Add Relationship", f, "#{object_type}", nameTypeArray%></p>