<h3>Creator</h3>
<%#= select_tag "#{object_type}[relationshipRoleURI][]", options_for_select(@mads_authorities, :selected => @role_id), :prompt=>"Select Relationship Role" %>   
<%
  typeArray = [["ConferenceName", "ConferenceName"],["CorporateName", "CorporateName"],["FamilyName", "FamilyName"],["Name", "Name"], ["PersonalName", "PersonalName"]]
%>  

<% 
  i = 0
  @relationships.each do |rel|
	tmp = JSON.parse(rel.to_json)
%>
	<%= render :partial => 'shared/edit_fields/relationship_edit_fields' , :locals => {:f => f, :object_type => object_type, :typeArray => typeArray, :selected_type => "#{tmp['name']}", :index => "#{i}", :selected_name => "#{tmp['nameId']}", :selected_role => "#{tmp['roleId']}"}%>       
<% 
	i = i+1
  end 
%>



