<input type="hidden" id="id" value="<%= record_id%>"/>
<input type="hidden" id="name" value="<%= name%>"/> 
<br>

<% if(!parent_id.nil?) %>
  <a href="#" onClick="javascript: setParentId_generic('<%= parent_id%>',true);">close</a>
<% end %>
<% if(!parent_class.nil?) %>
  <a href="#" onClick="javascript: setParentId_generic('<%= parent_class%>',false);">close</a>
<% end %> 