<h3>Simple Subject</h3>
<%
   subjectTypeArray = [["BuiltWorkPlace", "BuiltWorkPlace"],["CulturalContext", "CulturalContext"],["Function", "Function"],["GenreForm", "GenreForm"],["Geographic", "Geographic"],["Iconography", "Iconography"],["Occupation", "Occupation"],["ScientificName", "ScientificName"],["StylePeriod", "StylePeriod"],["Technique", "Technique"],["Temporal", "Temporal"],["Topic", "Topic"]]
%>

<%= render :partial => 'shared/edit_fields/simple_subjects_fields' , :locals => {:f => f, :object_type => "dams_object", :subjectTypeArray => subjectTypeArray}%>
    
<p><%= link_to_add_subjects "Add Simple Subject", f, "#{object_type}", subjectTypeArray%></p>