<div class="fields">
<br/>
<%= select_tag "#{object_type}[subjectType][]",  options_for_select(subjectTypeArray) , :prompt=>"Select Subject Type" , :onChange=>"javascript: getSimpleSubjects(this,'#{object_type}','#simpleSubject','0');"%>

<div id="simpleSubject"></div>
</div>