development:
  user: dams
  password: dams
  url: http://localhost:8080/dams/fedora
gimili:
  user: dams
  password: dams
  url: http://gimili.ucsd.edu:8080/dams/fedora
pontos:
  user: dams
  password: dams
  url: http://localhost:8081/dams/fedora
staging:
  user: dams
  password: dams
  url: http://localhost:8080/dams/fedora
test: &TEST  
  user: dams
  password: dams
  url: http://localhost:8080/dams/fedora
production:
  user: dams
  password: dams
  url: http://your.production.server:8080/fedora
cucumber:
  <<: *TEST
