
		<% if(!params['id'].nil? && params['id'].to_s != 'object_type_sim') %>
      <% params_copy = params.dup %>
		  <div class="btn-toolbar" id="topic-toolbar">
		    <div class="btn-group">

			<% Array browse_array = ("A".."Z").to_a %>
			<% browse_array.each { |x| %>
				<% params_copy['facet.prefix'] = x if (!params_copy['facet.sort'].nil?) %>
				<% if params['facet.prefix'].to_s == "#{x}"  %>
	        <%= link_to x, @pagination.params_for_resort_url('index', params_copy), class: 'btn btn-mini active' %>
				<% else %>
	        <%= link_to x, @pagination.params_for_resort_url('index', params_copy), class: 'btn btn-mini' %>
				<% end %>
			<% } %>
      </div>
      </div>



  <% end %>

