<ul class="dams-search-results-fields">
  <% scn = document['scopeContentNote_json_tesim'] %>
  <% if scn != nil %>
    <% scn.each do |txt| %>
      <% note = JSON.parse(txt) %>
      <li>
        <span><%= auto_link( note['value'].gsub('""', '"') ) %></span>
      </li>
    <% end %>
  <% dateVal = date_list(document) %>
  <% if !dateVal.blank? %>
    <li>
      <span><%= dateVal.gsub('""', '"') %></span>
    </li>
  <% end %>
  <% end %>
</ul>
