<ul class="dams-search-results-fields">
  <% scn = document['scopeContentNote_json_tesim'] %>
  <% if scn != nil %>
    <% scn.each do |txt| %>
      <% note = JSON.parse(txt) %>
      <li>
        <span><%= auto_link( note['value'].gsub('""', '"') ) %></span>
      </li>
    <% end %> 
  <% end %>

  <%= render :partial => 'catalog/display_access_control_level', :locals => {:document => document} %>

  <% dateVal = date_list(document) %>
  <% if !dateVal.blank? %>
    <li>
      <span class="dams-search-results-fields-label">Creation Date:</span>
      <span><%= dateVal.gsub('""', '"') %></span>
    </li>
  <% end %>
</ul>
