<% if query_has_constraints? %>
	<div class="dams-search-constraints">

	<%-# actual constraints moved into layouts/_search_bar.html.erb -%>

		<% if params['spellcheck.q'] != params['q'] %>
			<span class="dams-search-instead"><em>Search instead for <%= link_to_query(params['spellcheck.q'])%></em></span>
		<% end %>

		<%= render :partial => 'did_you_mean' %>

	</div>
<% end %>
