<% if @response.total <= spell_check_max and @response.spelling.words.size > 0 %>
  <div id="spell">
    <span class="suggest dams-search-instead">
      <em>
        <%= t('blacklight.did_you_mean', :options =>  @response.spelling.words.map { |word| link_to_query(word) }.join(" #{t('blacklight.or')} ")).html_safe %>
      </em>
    </span>
  </div>
<% end %>
