<% resultClass, resultIcon, resultThumb = document_thumbnail( document ) %>
<%
    if is_collection?(document)
      url = dams_collection_path(document, :counter => opts[:counter] )
    else
      url = dams_object_path(document, :counter => opts[:counter] )
    end
%>
<%= link_to url, :class => 'dams-search-thumbnail-link' do %>
  <% if !resultThumb.blank? %>
	<%= image_tag resultThumb, :alt => "", :class => 'dams-search-thumbnail' %>
  <% else %>
	<div class="dams-search-thumbnail <%=resultClass%>">
      <i class="glyphicon <%=resultIcon%>"></i>
    </div>
  <% end %>
<% end %>
