<% resultClass, resultIcon, resultThumb = document_thumbnail( document ) %>
<%= link_to document, :class => 'dams-search-thumbnail-link' do %>
  <% if resultThumb != nil %>
	<%= image_tag resultThumb, :alt => "", :class => 'dams-search-thumbnail' %>
  <% else %>
	<div class="dams-search-thumbnail <%=resultClass%>">
      <i class="glyphicon <%=resultIcon%>"></i>
    </div>
  <% end %>
<% end %>
