<ul>
  <li><a href="/">home</a></li>        
  

</ul>

<% # container for all documents in index view -%>
<div id="documents">
  <%= render :collection => documents, :as => :document, :partial => 'document' %>
</div>