<%
    if is_collection?(document)
      url = dams_collection_path(document, :counter => opts[:counter] )
    else
      url = dams_object_path(document, :counter => opts[:counter] )
    end
%>
<%= link_to url, :class => 'dams-search-thumbnail-link' do %>
  <%- if has_thumbnail?(document) && tn = thumbnail_url(document, nil) %>
    <div class="document-thumbnail dams-search-thumbnail">
      <%= tn %>
    </div>  
  <%- else %>
    <% resultClass, resultIcon = document_icon( document ) %>
    <div class="dams-search-thumbnail <%=resultClass%>">
      <i class="glyphicon <%=resultIcon%>"></i>
    </div>
  <%- end %>
<% end %>
