<%
    if is_collection?(document)
      url = dams_collection_path(document, :counter => opts[:counter] )
    else
      url = dams_object_path(document, :counter => opts[:counter] )
    end

    url = to_stats_path url
%>

<%= link_to url, :class => 'dams-search-thumbnail-link' do %>
  <%- if object_thumbnail_url(document)%>
    <div class="document-thumbnail dams-search-thumbnail">
      <%= object_thumbnail_url(document)  %>
    </div>  
  <%- else %>
    <% resultClass, resultIcon = document_icon( document ) %>
    <div class="dams-search-thumbnail <%=resultClass%>">
      <i class="glyphicon <%=resultIcon%>"></i>
    </div>
  <%- end %>
<% end %>
