<% if query_has_constraints? %>
    <div class="dams-search-constraints">

        <span class="dams-search-constraints-label"><%= 'There are no results for' %></span>

        <%#link_to t('blacklight.search.start_over'), url_for(:action=>'index'), :class => "catalog_startOverLink", :id=>"startOverLink" %>

        <%= render_constraints(params) %>
        See also <%= link_to 'Search Tips', view_page_path('search_tips') %>

        <%= render :partial => 'did_you_mean' %>

    </div>
<% end %>
