<div class="dams-search-results-header clearfix">

	<div class="btn-toolbar results-tools hidden-phone">
    <%= render :partial => 'sort_widget' %>
    <%= render :partial => 'per_page_widget' %>
	  <div class="btn-group"><%= link_to 'Advanced Search', advanced_path, :class => 'btn btn-mini' %></div>
	</div>

  <div class="hidden-phone">
	<%= render :partial => 'paginate_compact' %>
	</div>

</div>
