<% if show_sort_and_per_page? and !blacklight_config.sort_fields.blank? %>

  <div class="btn-group">

    <%= link_to '#', :class => 'btn btn-mini results-btn dropdown-toggle', :data => {:toggle=>'dropdown'} do %>
		  <%=t('blacklight.search.sort.label', :field =>current_sort_field.label)%>
      <b class="caret"></b>
    <% end %>

    <ul class="dropdown-menu">
      <%- blacklight_config.sort_fields.each do |sort_key, field| %>
        <li><%= link_to(field.label, url_for(params_for_search(:sort => sort_key))) %></li>
      <%- end -%>
    </ul>

  </div>

<% end %>