<div class="dams-search-results-header clearfix">

  <div class="page_links">
    <%= render :partial => "paginate_compact" %>
  </div>


  <div class="dropdown pull-right hidden-phone" id="sort-dropdown">
    <ul class="css-dropdown">
      <li class="btn">
        <%=link_to "Advanced Search", advanced_path, :class => "" %>
      </li>
    </ul>
  </div>

  <%= render :partial => 'sort_widget' %>

  <%= render :partial => 'per_page_widget' %>

</div>
