<%= form_for(@aeon_queue) do |f| %>
  <% if @aeon_queue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aeon_queue.errors.count, "error") %> prohibited this aeon_queue from being saved:</h2>

      <ul>
      <% @aeon_queue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
