<ul class="nav nav-pills">
  <li><%= link_to 'Home', root_path %>
  <:qi><%= link_to 'Dams', dams_objects_path %>
  <li class="pull-right">
  <%= render :partial => '/catalog/search_form' %>
  </li>
</ul>
