<%
  title = col['title_tesim']
  thumbnail = col['thumbnail_tesim']
  if (title != nil && title.first.index('Test') == nil) %>
  <li class="span3">
     <div class="thumbnail">
       <% if thumbnail %>
         <img alt="" src="<%=thumbnail.first%>">
       <% end %>
       <%= link_to render_document_show_field_value(:document=>col, :field=>"title_tesim"), dams_collection_path(col['id']), :class => "btn btn-block btn-link" %>
    </div>
  </li>
<% end %>
