<!--<p>Export to: -->

<%#= link_to 'Zotero', view_page_path('zotero'), {:id => 'zoteroLink', :name => 'zotero', :class => 'btn btn-mini btn-primary'} %>
      
<%#= link_to 'Mendeley', view_page_path('mendeley'), {:id => 'mendeleyLink', :name => 'mendeley', :class => 'btn btn-mini btn-primary'} %>


 <!-- COinS hook for openurl -->
    <span class="Z3988" title="<%= export_as_openurl %>"></span>
