<div class="row">
	<div class="span6">
		
     <h1>Provenance Collections</h1>
	 <ul>
	 <% @ProvenanceDocument.each do |doc| %>
      <li><%= link_to doc['title_tesim'].first, dams_provenance_collection_path(doc['id']) %></li>
        <%if doc['part_json_tesim']!= nil %>
           <% doc['part_json_tesim'].each do |datum| %>
		      <% part = JSON.parse(datum) %>
		        <% if part['name'] != '' && part['id'] !=''%>
			    <ul> <%= link_to part['name'], dams_provenance_collection_part_path(part['id']) %></ul>
		      <% end %>
	       <% end %>
        <% end %>
      <% end %>  
	</ul>	
	</div>
</div>







