<div class="row">
	<div class="span12">
		<h1>Collections</h1>
		<ul class="thumbnails">
			<% @document.each do |col| %>
				<%= render :partial => 'preview', :locals => { :col => col } %>
			<% end %>
		</ul>
	</div>
</div>

