<div class="row">
	<div class="span6">
	

		<h3>Collections</h3>
		<ul>
			<% @document.each do |col| %>

            <% if (col['type_tesim'] != nil) %>
              <% col['type_tesim'].each do |datum|%>
               
                
                <% if (datum == "AssembledCollection")%>

                
	              <li><%= link_to col['title_tesim'].first, dams_assembled_collection_path(col['id']) %></li>
	           
	           <% elsif (datum == "ProvenanceCollection") %>
                  <%
                    title = col['title_tesim']
                    title = title.first if title.kind_of?(Array)
                  %>
		          <li><%= link_to title, dams_provenance_collection_path(col['id']) %></li>  
	                
	              <%if col['part_json_tesim']!= nil %>
	                <% col['part_json_tesim'].each do |value| %>
			        <% part = JSON.parse(value) %>
			        <% if part['name'] != '' && part['id'] !=''%>
				     <ul> <%= link_to part['name'], dams_collection_path(part['id']) %></ul>
			        <% end %>
		           <% end %>
	              <% end %>
                <% end %>
              <% end %>
             <% end %>
            <% end %>    
		</ul>
	



     
	</div>
</div>







