<h1>DAMS Vocabularies</h1>

<div class="span6">
  <ul><%= render_vocabulary_list %></ul>
</div>

<div>
  <% if can? :create, DamsVocabulary%>
    <%= link_to "Create Vocabulary", new_dams_vocabulary_path, :class => 'btn btn-primary'%>
  <% end %>
</div>
