<% if @dams_built_work_place.errors.any? %>

	<div class="alert alert-block alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>The form contains <%= pluralize(@dams_built_work_place.errors.count, "error") %></h4>
		<ul>
		<% @dams_built_work_place.errors.full_messages.each do |msg| %>
			<li><%= msg %></li> 
		<% end %>
		</ul>
	</div>

<% end %>
