<h1>DAMS Provenance Collection Part</h1>

<div>
  <% if can? :create, DamsProvenanceCollectionPart%>
    <%= link_to "Create New Provenance Collection Part", new_dams_provenance_collection_part_path, :class => 'btn btn-primary'%>
  <% end %>
</div>
<br>



<div class="span6">
  <ul>
    <% @document.each do |doc| %>
     <%if doc['title_tesim']!=nil %>
      <li><%= link_to doc['title_tesim'].first, dams_provenance_collection_part_path(doc['id']) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
