<% if @document["component_#{componentIndex}_note_1_value_tesim"] != nil %>
		<%
			#fields:
			# component_1_note_1_type_tesim, component_1_note_1_value_tesim, component_1_note_1_displayLabel_tesim
			i = 1;
			loop do
		%>
		<tr>
				<!-- try using displayLabel, fall back on type -->
				<% if @document["component_#{componentIndex}_note_#{i}_displayLabel_tesim"] != nil %>
					<td><%=@document["component_#{componentIndex}_note_#{i}_displayLabel_tesim"].first.titleize%></td>
				<% elsif @document["component_#{componentIndex}_note_#{i}_type_tesim"] != nil %>
					<td><%=@document["component_#{componentIndex}_note_#{i}_type_tesim"].first.titleize%></td>
				<% else %>
					<td>General Note</td>
				<% end %>
				<td><%=@document["component_#{componentIndex}_note_#{i}_value_tesim"].first.html_safe%></td>
		</tr>
		<%
			i += 1 #try again
			break unless @document["component_#{componentIndex}_note_#{i}_value_tesim"] != nil
			end
		%>
<% end %>
