<% if @document["component_#{componentIndex}_topic_1_id_tesim"] != nil
		#component_1_topic_1_id_tesim, component_1_topic_1_name_tesim, component_1_topic_1_authority_tesim
		i = 1;
		topics = "";
		loop do
			if i == 1
				topics << "#{@document["component_#{componentIndex}_topic_#{i}_name_tesim"].first.titleize}"
			else
				topics << "; #{@document["component_#{componentIndex}_topic_#{i}_name_tesim"].first.titleize}"
			end
			i += 1 #try again
			break unless @document["component_#{componentIndex}_topic_#{i}_id_tesim"] != nil
		end
		if i == 2
			i = 1 #remove trailing count for pluralize
		end
		
%>
<tr>
	<td><%="Topic".pluralize(i)%></td>
	<td><%=topics%></td>
</tr>
<% end %>