<h1>Contact Us</h1>

<p>Please use the contact form to submit general questions about the Digital Collections website, to report a problem you are experiencing with the system, or to provide feedback. See our
<%= link_to 'Frequently Asked Questions (FAQ)', view_page_path('faq') %> for additional information.</p>

<div id="mf_placeholder"
   data-formurl="https://library.ucsd.edu/forms/embed.php?id=47795"
   data-formheight="822"
   data-paddingbottom="10">
</div>
<!--<script type="text/javascript" src="https://library.ucsd.edu/forms/js/jquery.min.js"></script>-->
<script type="text/javascript" src="https://library.ucsd.edu/forms/js/jquery.ba-postmessage.min.js"></script>
<script type="text/javascript" src="https://library.ucsd.edu/forms/js/machform_loader.js"></script>

