
.dams-form
{
  h2{margin-top:0;line-height: 1;font-size:1.5em;}
  fieldset{padding:1em 1.5em}
}

/*---------------*/
/* MEDIA QUERIES */
/*---------------*/

/* LARGE DESKTOP (BOOTSTRAP) */
@media (min-width: 1200px) {}

/* PORTRAIT TABLET TO LANDSCAPE AND DESKTOP (BOOTSTRAP) */
@media (min-width: 768px) and (max-width: 979px) {}

/* DESKTOP NAVBAR (CUSTOM) */
@media (min-width: 980px){}

/* MOBILE NAVBAR (CUSTOM) */
@media (max-width: 979px){}

/* LANDSCAPE PHONE TO PORTRAIT TABLET (BOOTSTRAP) */
@media (max-width: 767px){}

/* LANDSCAPE PHONES AND DOWN (BOOTSTRAP) */
@media (max-width: 480px)
{
  #main-container h1{font-size:1.75em;}
  button,select{width:100%;}
  fieldset{padding:0;}
}
