/* app specific/non-theme css goes here */



/*--------------------*/
/* OBJECT VIEWER PAGE */
/*--------------------*/

// Components Control
.dams-components-button,.components .btn{text-align:left;}
.components > ul{margin-bottom:0;}
.components .btn{font-weight:bold;}
.components a.btn{font-weight:normal;}
.dams-components-button,.components button.btn{color:#333;}
.components li ul{margin-left:10px;}


// Metadata fold
.dams-metadata{margin-bottom:1em;}
.dams-metadata h1{font-size:150%;padding:0;margin:0 0 5px 0;line-height:100%;}
.dams-metadata hr{border-top:1px solid #ddd;margin:0 15%;}
.dams-metadata .btn-link{font-weight:bold;}

// Metadata label link
.label:hover,.badge:hover{background-color:darken(#999,10%)}

.sidebar-header{border-bottom:1px solid #ddd;padding-bottom:5px;margin:10px 0}


.dams-viewer{margin-bottom:1em;}




/*---------------*/
/* MEDIA QUERIES */
/*---------------*/

/* LARGE DESKTOP (BOOTSTRAP) */
@media (min-width: 1200px) {}

/* DESKTOP TWEEN (CUSTOM) */
@media (min-width: 980px) and (max-width:1199px) {}

/* DESKTOP (CUSTOM) */
@media (min-width: 980px)
{
	/* OBJECT VIEWER PAGE */
	.dams-viewer img{width:33%;margin:0 auto;display:block;}
	.dams-download-button{width:600px;margin:0 auto;}
}
 
/* PORTRAIT TABLET TO LANDSCAPE AND DESKTOP (BOOTSTRAP) */
@media (min-width: 768px) and (max-width: 979px)
{
		 /* OBJECT VIEWER PAGE */
	.dams-viewer img{width:50%;margin:0 auto;display:block;}
	
}


/* MOBILE (CUSTOM) */
@media (max-width: 979px) {}

/* LANDSCAPE PHONE TO PORTRAIT TABLET (BOOTSTRAP) */
@media (max-width: 767px)
{
	 /* OBJECT VIEWER PAGE */
	.dams-viewer img{width:50%;margin:0 auto;display:block;}
	
}
 
/* LANDSCAPE PHONES AND DOWN (BOOTSTRAP) */
@media (max-width: 480px)
{
	 /* OBJECT VIEWER PAGE */
	.dams-viewer img{width:100%;}
	
}

