/* app specific/non-theme css goes here */

$linkColor: #016691 !default;
$objectBG: #e9e9e9 !default;
$componentBG: #fcfcfc !default;
$viewerPadding: 3% !default;
$componentHighlight: #AD702B !default;
$simpleFile: #214E61 !default;
$complexFile: #AC6F2B !default;
//$objectBG: rgba($simpleFile,0.1) !default;

//----------------------------------------------------------
// COMPLEX OBJECT VIEWER PAGE
//----------------------------------------------------------

// CARTOGRAPHICS

#map-canvas{width: 100%;height: 200px;margin-bottom: 20px;} // height required
#map-canvas img{max-width:none;} // fix for bootstrap conflict
#map-canvas label{width: auto;display:inline;} // fix for bootstrap conflict

// COMPONENTS
.component{display:none;background-color:$componentBG;margin:$viewerPadding;padding:$viewerPadding;border-radius: 10px;border: 3px solid #fff;box-shadow: 0 0 5px rgba(0,0,0,0.25);overflow: hidden;}
.simple-object{margin:$viewerPadding;padding:$viewerPadding;background-color:darken($objectBG,5%);border-radius: 10px;box-shadow:inset 0 0 5px rgba(0,0,0,0.25);overflow: hidden;}

.simple-object .table th,.simple-object .table td{border-color:rgba($simpleFile,0.25)}
.simple-object .form-actions{background-color: rgba($simpleFile,0.15); border-top-color: rgba($simpleFile,0.75)}
.simple-object .form-actions .muted{color: rgba($simpleFile,0.5)}

.component .table th,.component .table td{border-color:rgba($complexFile,0.25)}
.component .form-actions{background-color: rgba($complexFile,0.15); border-top-color: rgba($complexFile,0.75)}
.component .form-actions .muted{color: rgba($complexFile,0.666)}

.component .video-js,
.component .audiojs,
.simple-object .video-js{margin: 0 auto 20px auto;}
.simple-object .audiojs{margin: 0 auto;}

.component img{width:auto;margin:0 auto 20px auto;display:block;}
.simple-object img{width:auto;margin:0 auto;display:block;}

.component > hgroup > h1{font-size:125%;padding:0;margin:0 0 5px 0;line-height:100%;color: $componentHighlight;}
.component > hgroup > h2{font-size:100%;padding:0;margin:0 0 5px 0;line-height:100%;color: lighten($componentHighlight,10%);}
.component > hgroup{margin-bottom: 20px;}

.component .table,.simple-object .table{margin-bottom:0;}

.component .alert,
.simple-object .alert{margin-bottom:0;}

.component .table td p,.component .table td ul,.simple-object .table td p,.simple-object .table td ul{margin:0;}
.component .table tr td:first-child,.simple-object .table tr td:first-child{font-weight: bold;}

//----------------------------------------------------------
// UNITS INDEX PAGE
//----------------------------------------------------------
.dams-search-box h4{margin:0 0 10px 0;line-height:inherit;}
.sidebar-button-list .btn{text-align:left;}
.carousel .item img{width:100%;height:420px;}
.carousel-caption{background-color:rgba(0,0,0,0.25);}
.carousel-caption p{font-weight:bold;text-shadow: 0 0 3px rgba(0,0,0,0.75);}

.dams-au{text-align: left;}
.dams-au img{display:inline-block;}

//----------------------------------------------------------
// OBJECT VIEWER PAGE
//----------------------------------------------------------

// Viewer
.dams-viewer{background-color:$objectBG;padding: $viewerPadding $viewerPadding 0 $viewerPadding;border: 1px solid #d9d9d9;border-bottom: none;}

.dams-viewer > hgroup > h1{font-size:150%;padding:0;margin:0 0 5px 0;line-height:100%;color:  #00374E;}
.dams-viewer > hgroup > h2{font-size:110%;padding:0;margin:0 0 5px 0;line-height:100%;color: lighten(#00374E,10%);}
.dams-viewer > hgroup{margin-bottom: 0;}


.dams-download-button{margin:0;}
.dams-download-button p{margin: 0;text-align: center;}
.dams-viewer img{max-width:auto;max-height:400px;}

// Breadcrumbs
.dams-breadcrumbs .breadcrumb{font-size: 12px;background-color:transparent;padding: 0;}
.dams-breadcrumbs .breadcrumb > li > .divider{padding: 0;}

// Metadata fold
.dams-metadata{margin-bottom:1em;background-color:$objectBG;padding: 0 $viewerPadding $viewerPadding $viewerPadding;border: 1px solid #d9d9d9;border-top: none;}
.dams-metadata hr{border-top:1px solid #ddd;margin:0 15%;}
.dams-metadata .btn-link{font-weight:bold;}
.dams-metadata .label,.dams-metadata .badge{margin-bottom:3px;}
.dams-metadata dd{color: #666;}
.dams-metadata dd strong{color: #555;}

// Metadata label link
.label:hover,.badge:hover{background-color:darken(#999,10%)}

.component{
	.label{background-color: lighten($complexFile,10%);}
	.label:hover{background-color: $complexFile;}
}


// Sidebar
.sidebar-header{border-bottom:1px solid #ddd;padding-bottom:5px;margin:10px 0}

//---
// Components Control
//--

.node-container{display:none;}

.components-tree li{position: relative;}
.node-icon{position:absolute;top: 3px;left: 0;}
.components-tree .btn{margin-left:16px;}

.dams-components-button,.components-tree .btn{text-align:left;}
.components-tree > ul{margin-bottom:0;}
.dams-components-button,.components-tree .btn{color:#333;}
.components-tree .node-file{color:$linkColor;}
.components-tree .node-parent{font-weight:bold;}
.components-tree .btn{padding: 0;}
.components-tree li ul{margin-left:16px;}
.active-component{color: $componentHighlight !important;font-weight:bold !important;}


//----------------------------------------------------------
// MEDIA QUERIES
//----------------------------------------------------------

// LARGE DESKTOP (BOOTSTRAP)
@media (min-width: 1200px) {}

// DESKTOP TWEEN (CUSTOM)
@media (min-width: 980px) and (max-width:1199px) {}

// DESKTOP (CUSTOM)
@media (min-width: 980px)
{
	// OBJECT VIEWER PAGE
	//.dams-viewer img{width:40%;}
}

// PORTRAIT TABLET TO LANDSCAPE AND DESKTOP (BOOTSTRAP)
@media (min-width: 768px) and (max-width: 979px)
{
	// OBJECT VIEWER PAGE
	//.dams-viewer img{width:50%;}
}

// MOBILE (CUSTOM)
@media (max-width: 979px) {}

// LANDSCAPE PHONE TO PORTRAIT TABLET (BOOTSTRAP)
@media (max-width: 767px)
{
	 // OBJECT VIEWER PAGE
	//.dams-viewer img{width:50%;}
	.dams-download-button .btn{display:block;float:none;}
	.component .video-js{height: 300px;}

	// UNITS INDEX PAGE
	.carousel .item img{height:280px;}

}
 
// LANDSCAPE PHONES AND DOWN (BOOTSTRAP)
@media (max-width: 480px)
{
	 // OBJECT VIEWER PAGE
	//.dams-viewer img{width:100%;}

	// UNITS INDEX PAGE
	.search-query-form .btn{width:100%;}
	.carousel .item img{height:210px;}

}

