#collections-masthead, #collections-masthead hgroup{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}



.dams-collections .span8{border-bottom:3px double #ddd;margin-bottom:20px;}

.dams-collections dl{margin-top:0;}
.dams-collections dt{font-size: 125%;line-height: 200%; color: #AD702B;font-weight: normal;}
.dams-collections dd{text-align: justify;margin-left:0;}

.dams-collections a{word-break: break-all;}
.dams-collections h3{margin: 0 0 10px 0;line-height: normal;color:#444;font-weight:normal;}

.dams-collections .input-append{text-align:center;display:block;}
.dams-collections .input-append input[type=text]{width:70% !important;}
.dams-collections .sidebar-button-list{margin:0;}

.item-block {margin:0;padding:0;line-height:normal;}
.item-block li {list-style-type:none;margin:0;overflow:auto;padding:0;margin-bottom:5px;}
.item-block li:last-child {margin-bottom:20px;}
.item-block li:only-child {margin-bottom:20px;}
.item-block img {border:1px solid #aaa;display:inline-block;float:left;height:24px;margin:0;padding:0;width:24px;background:#eee;}
.item-block div {display:block;float:left;margin:0 0 0 10px;padding:0;}
.item-block a {margin:0;padding:0;display:block;}


.collections-search-box
{
   margin-top:1em;
  .input-append, form{margin-bottom:0;}
}

#collections-masthead
{
  background-color: #888;
  background-position:top center;
  background-size:cover;
  margin-bottom: 20px;
  border-radius: 5px 5px 0 0;
  position:relative;
  .bug{position: absolute;bottom:0; right:0;margin:0 5px 5px 0; color:rgba(0,0,0,0.33)}

  hgroup{  border-bottom: 3px solid rgba(0,0,0,0.33);  padding:20px;  height: 240px;

  }

  h1, h2{line-height:normal;margin:0;padding-bottom:0;text-shadow: 0px 0px 3px rgba(0,0,0,0.5);}
  h1{color:#fff;font-weight: normal;}
  h2{color:#666;}


}

// MEDIA QUERIES

/* LANDSCAPE PHONE TO PORTRAIT TABLET (BOOTSTRAP) */
@media (max-width: 767px)
{
  #collections-masthead h1, #collections-masthead h2, .dams-collections h3, .dams-collections dt{font-size: 125%;}
  .dams-collections dt{font-size: 110%;}
  #collections-masthead hgroup{height:200px;}
}

