/* app specific/non-theme css goes here */

$linkColor: #016691 !default;

/*----------------------------*/
/* COMPLEX OBJECT VIEWER PAGE */
/*----------------------------*/

.component{display:none;}
.component
{
	//background-color:#666;
	//padding:2em;
	@media (min-width: 1200px)
	{
		//min-height:600px;
	}
}

.component video{width:100%;}

/*------------------*/
/* UNITS INDEX PAGE */
/*------------------*/

.dams-search-box h4{margin:0 0 10px 0;line-height:inherit;}
.sidebar-button-list .btn{text-align:left;}

.carousel .item img{width:100%;}
.carousel .item{max-height:600px;}

/*--------------------*/
/* OBJECT VIEWER PAGE */
/*--------------------*/

// Viewer 
.dams-viewer{margin-bottom:1em;}
.dams-viewer .table{margin-top: 20px;}
.dams-viewer h1{font-size:150%;padding:0;margin:0 0 5px 0;line-height:100%;}

// Components Control
.dams-components-button,.components .btn{text-align:left;}
.components > ul{margin-bottom:0;}
.components .btn{font-weight:bold;}
.dams-components-button,.components .btn{color:#333;}
.components .dams-file{font-weight:normal;color:$linkColor;}
.components li ul{margin-left:10px;}

// Metadata fold
.dams-metadata{margin-bottom:1em;}
//.dams-metadata h1{font-size:150%;padding:0;margin:0 0 5px 0;line-height:100%;}
.dams-metadata hr{border-top:1px solid #ddd;margin:0 15%;}
.dams-metadata .btn-link{font-weight:bold;}

// Metadata label link
.label:hover,.badge:hover{background-color:darken(#999,10%)}

// Sidebar
.sidebar-header{border-bottom:1px solid #ddd;padding-bottom:5px;margin:10px 0}


/*---------------*/
/* MEDIA QUERIES */
/*---------------*/

/* LARGE DESKTOP (BOOTSTRAP) */
@media (min-width: 1200px) {
	
	#main-container{margin:0 15%;}
	}

/* DESKTOP TWEEN (CUSTOM) */
@media (min-width: 980px) and (max-width:1199px) {}

/* DESKTOP (CUSTOM) */
@media (min-width: 980px)
{
	/* OBJECT VIEWER PAGE */
	.dams-viewer img{width:33%;margin:0 auto;display:block;}
	.dams-download-button{width:600px;margin:0 auto;}
}
 
/* PORTRAIT TABLET TO LANDSCAPE AND DESKTOP (BOOTSTRAP) */
@media (min-width: 768px) and (max-width: 979px)
{
	/* OBJECT VIEWER PAGE */
	.dams-viewer img{width:50%;margin:0 auto;display:block;}
}

/* MOBILE (CUSTOM) */
@media (max-width: 979px) {}

/* LANDSCAPE PHONE TO PORTRAIT TABLET (BOOTSTRAP) */
@media (max-width: 767px)
{
	 /* OBJECT VIEWER PAGE */
	.dams-viewer img{width:50%;margin:0 auto;display:block;}
}
 
/* LANDSCAPE PHONES AND DOWN (BOOTSTRAP) */
@media (max-width: 480px)
{
	 /* OBJECT VIEWER PAGE */
	.dams-viewer img{width:100%;}

	/* UNITS INDEX PAGE */
	.search-query-form .btn{width:100%;}
}

