/* app specific/non-theme css goes here */

#dams-metadata #meta > .btn{text-align:left;padding-left:5px;font-weight:bold;}
#dams-metadata #meta > div{background:#f6f6f6;border:1px solid #ddd;padding-right:10px;padding-left:10px;}
#dams-metadata #meta ul{margin-top:10px;margin-bottom:10px;}
