<div class="row">
    <div class="span12">
        <h1>Collections</h1>
        <ul class="thumbnails">
            <% @collections.each do |col| %>
                <%= render :partial => 'dams_collections/preview', :locals => { :col => col } %>
            <% end %>
        </ul>
    </div>
</div>
