<div class="row-fluid">
    
     <h1>DAMS Administrative Units</h1>
     <div class="well well-large">
         <ul>
             <% @dams_units.each do |unit| %>
                 <li><%= link_to unit.name.first, unit %></li>
             <% end %>
         </ul>
     </div>
        
     <div>
         <% if can? :create, DamsObject %>
             <%= link_to "New Object", new_dams_object_path, class: "btn btn-primary" %>
             <%= link_to "New Unit", new_dams_unit_path, class: "btn btn-primary" %>
         <% end %>
     </div>
    
</div>
