
<section class="container-fluid mobile-search-bar-alt clearfix">
  <%= form_tag catalog_index_url, :method => :get, :class => 'form-search' do %>
    <div class="input-append">
      <% if @current_unit != nil %>
        <input type="hidden" name="f[unit_sim][]" value="<%=@current_unit.first%>"/>
      <% end %>
      <label class="hide-text" for="q">Search Digital Collections</label>
      <input type="text" placeholder="Search Digital Collections" name="q" id="q" class="search-query">
      <button class="btn btn-inverse" type="submit" id="mobile-search-button">
        <i class="icon-search icon-white"></i>
      </button>
    </div>
  <% end %>
</section>
